@charset "utf-8";
/*************************************************
프로젝트명 : dpub
commnet : style.css
*************************************************/

@import url('swiper-3.4.2.min.css');

/* =============== ######공통 (common) ======================== */
html,body{height:auto;}
body{font-weight:400;font-family:'Spoqa Han Sans Neo','Malgun Gothic','맑은 고딕',Gulim,'굴림',AppleSDGothicNeo-Regular,sans-serif;letter-spacing:-0.3px;line-height:1;color:#000;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
strong{font-weight:400;}
a{display:inline-block;vertical-align:top;}

@media only screen and (min-width:980px){
	body{min-width:1100px;}
	a:hover{text-decoration:underline;}
	a:active,a:hover{outline:0;}
}

.ir-txt{display:inline-block;text-indent:-9999px;font-size:0;}

.open-layer{overflow:hidden;}
.mask-layer{display:none;position:fixed;top:0;left:0;z-index:1;width:100%;height:100%;background:rgba(0,0,0,0.4);}
.mask-layer.active{display:block;}

.img-cover img{visibility:hidden !important;opacity:0 !important;}

/* text color */
.color01{color:#100060 !important;}
.color02{font-weight:500;color:#1e86f9 !important;}
.color03{color:#4026ee !important;}

/* =============== ####PC/M 공통 ======================== */


/* =============== ######레이아웃 (layout) ======================== */
.wrap{font-size:0;}

/* 2023-04-19 진희 작업 */
.wrap-container {display: flex;align-items: stretch;min-height: 100vh;background: #F9F9FB;}
.wrap-left-menu{width: 260px;background: #313133;}
.wrap-left-menu .logo-unit01{display:block;margin:34px 0 0 36px;}
.wrap-left-menu .user{margin:50px 0 40px 36px;}
.wrap-left-menu .user>.txt{font-weight:500;font-size:15px;color:#fff;vertical-align:middle;}
.wrap-left-menu .btn-unit-logout{margin-left:50px;}
.menu-list>li{padding: 12px 0 12px 36px;position:relative;margin-bottom: 3px;}
.menu-list>li .txt{position:relative;display:inline-block;padding-left:13px;font-size:15px;font-weight:500;line-height:1;color: #919197;vertical-align:middle;}
.menu-list>li [class*='ico-unit01']{vertical-align:middle;}

.menu-list>li.active:before{content:'';position:absolute;top:0px;;left:14px;width:232px; height:46px;background:#C20344;border-radius: 7px;}
.menu-list>li.active .txt{color: #fff;}

/* 메뉴 active시 아이콘 */
.menu-list>li.active>a>[class*='ico-unit01']:before{background-position-x:-50px;}

@media only screen and (min-width:980px) {
	.wrap-left-menu .btn-left-close{display:none;}
}

.menu-list>li.menu01{} /* 회원관리 */
.menu-list>li.menu02{} /* 광고관리 */
.menu-list>li.menu03{} /* 정산관리 */
.menu-list>li.menu04{} /* 알림내역 */
.menu-list>li.menu05{} /* GPS이력 */
.menu-list>li.menu06{} /* 고객센터 */
.menu-list>li.menu07{} /* 슬라이더 관리 */
.menu-list>li.menu08{} /* 관리자 사용 이력 */
.menu-list>li.menu09{} /* 계정 관리 */

.wrap-content{padding:50px 32px 0;box-sizing:border-box;height:100%;background:#F9F9FB;flex-grow: 1;}
.wrap-content>.title-box{}/* 메뉴제목 */
.wrap-content>.title-box+.content{margin-top:16px;}

.content{padding:17px 20px;box-sizing:border-box;border-radius: 6px;background: #fff;}
.content .input-button-wrap+.table-container{margin:12px 0 0;}
.content .inner{overflow:hidden;}
.content .inner .input-container{float:left;}
.content .inner .input-container+.input-container{margin-left:40px;}

.page-nav{margin:7px 0;font-size:0;}
.page-nav li{position:relative;display:inline-block;vertical-align:top;}
.page-nav li+li{margin-left:5px;}
.page-nav li+li:before{content:'>';display:inline-block;padding:0 4px;font-size:12px;}
.page-nav a{font-size:16px;font-weight: 500;}

.container01{}
.container01 .inner{}
.header-unit001{z-index:200;position:sticky;top:0;background-color:#fff;border-bottom:1px solid #f2f4f8;}
.header-unit001 .inner{position:relative;box-sizing:border-box;}
.header-unit001 .logo-yna01{position:absolute;top:27px;left:0;}
.header-unit001 .txt{display:inline-block;font-size:24px;font-weight:bold;letter-spacing:-0.6px;}

/* 고정 신청푸터 */
.foot-box01{opacity:0;position:fixed;z-index:10;transition:0.6s ease;}
.foot-box01.active{opacity:1;animation:obj02 0.8s ease both;
-webkit-animation:obj02 0.8s ease both;
-moz-animation:obj02 0.8s ease both;
-ms-animation:obj02 0.8s ease both;
-o-animation:obj02 0.8s ease both;}
.foot-box01 .txt{display:inline-block;margin-left:60px;font-size:24px;line-height:100px;color:#fff;}
.foot-box01 .btn-unit01{}
.foot-box01:before,
.foot-box01:after{content:'';clear:both;position:absolute;z-index:0;}
.foot-box01:before{z-index:-1;width:100%;height:100px;background:#4026ee;border-radius:40px 40px 0 0;}
.foot-box01:after{z-index:1;top:0;right:0;width:227px;height:214px;background:url(../img/sprites_dpub.svg) 0 -550px no-repeat;}

/* 콘텐츠 표출 waypoint(delay) */
.scroll-zone{margin-top:100px;padding-top:40px;opacity:0;
-webkit-transition:all 0.5s ease-in;
-moz-transition:all 0.5s ease-in;
-ms-transition:all 0.5s ease-in;
transition:all 0.5s ease-in;}
.scroll-zone.active{margin-top:0;opacity:1;}

/* =============== ######로그인 (login) ======================== */
.wrap-login{overflow:hidden;background-color:#F9F9FB;}
.wrap-login .join-info{margin:46px 0 23px;padding:0 0 21px;font-weight:500;font-size:14px;line-height:1.4;text-align:center;border-bottom:2px solid #313133;}
[class*='container-login']{position:absolute;top:50%;left:50%;box-sizing:border-box;box-shadow: 3px 3px 6px 2px rgba(228,228,232,1);}
[class*='container-login']{}
[class*='container-login'] .info-box{margin:53px 0 0;text-align:center;}
.container-login01{width:700px;height:464px;margin:-250px 0 0 -350px;padding-left:253px;border-radius:15px;background:#fff url(../img/bg_login01.png) 0 0 no-repeat;}
.container-login01 header{position:relative;text-align:center;}
.container-login01 .logo-unit03,
.container-login01 .logo-unit03+.tit{display:block;}
.container-login01 .logo-unit03{margin:48px auto 0;}
.container-login01 .logo-unit03+.tit{margin:12px 0 0;font-weight:500;font-size:16px;}

.login-input{margin:42px 75px 0;}
.login-input input[type="text"]{width:100%;height:46px;padding:0 13px;box-sizing:border-box;border-radius:5px;background:#F7F7FA;font-size:14px;color:#000;}
.login-input input[type="text"]::placeholder{color:#A1A1A1;}
.login-input [class*='input0']+[class*='input0']{margin:7px 0 0;}
.login-input .check-login{}

[class*='check-']{}
[class*='check-']{margin:10px 0 0;}
[class*='check-'] .input01,
[class*='check-'] .link-forgot{display:inline-block;vertical-align:top;}
[class*='check-'] .link-forgot{float:right;margin:4px 0 0;font-size:14px;color:#B30039;}
[class*='check-'] input[type="checkbox"]+label{padding-left:26px;font-size:14px;line-height:20px;color:#A1A1A1;}
[class*='check-'] input[type="checkbox"] + label:before{content:'';clear:both;position:absolute;top:0;left:0;width:20px;height:20px;background:#fff;border-radius:50%;border:1px solid #D5D5DC;box-sizing: border-box;}
[class*='check-'] input[type="checkbox"] + label:after{content:'';clear:both;position:absolute;top:50%;left:5px;margin-top:-3px;width:10px;height:8px;background:url(../img/sprites_dpub.svg) -150px -100px no-repeat;}
/* [class*='check-'] input[type="checkbox"]:checked+label{color:#B30039;} */
[class*='check-'] input[type="checkbox"]:checked + label:before{border-color:#B30039;}
[class*='check-'] input[type="checkbox"]:checked + label:after{top:50%;left:5px;margin-top:-3px;background-position:-100px -100px;}

.confirm-login{margin:35px 0 0;}
.confirm-login button{width:297px;height:46px;box-sizing:border-box;border-radius:5px;background:#C20344;font-size:14px;color:#000;}
.confirm-login button .txt{font-weight:500;font-size:16px;color:#fff;}
.confirm-login button+button{margin:7px 0 0;}
.confirm-login .btn-login{}
.confirm-login .btn-join{background:#fff;border:1px solid #C20344;}
.confirm-login .btn-join .txt{color:#C20344;}

/* 로그인 - 아이디/비밀번호 찾기 */
.container-login02 .logo-unit03{display:block;margin:48px auto 0;}
.container-login02{width:640px;height:600px;margin:-300px 0 0 -320px;padding:57px 75px;}
.container-login02 .login-input{margin:42px auto 0;}
.container-login02 .login-input input[type="text"]{height:40px;background:none;border-radius:0;}
.container-login02 .confirm-login button{width:100%;}
.container-login02 .tab-unit02{margin:32px 0 0;}

/* 회원가입 */
.container-login03{position:relative;top:inherit;left:inherit;width:640px;height:inherit;margin:100px auto;padding:57px 75px;background:#fff;}
.container-login03 .logo-unit03{display:block;margin:0 auto;}
.container-login03 .confirm-login button{width:100%;}

.check-join{}
.check-join [class*='input0']+[class*='input0']{margin:31px 0 0;}
.check-join [class*='input0'] .join-description{margin:8px 0 0;}

.join-description{position:relative;padding:11px 10px;box-sizing:border-box;height:100px;border:1px solid #E9E9E9;overflow:hidden;overflow-y:scroll;font-size:12px;color:#666;}
.join-description p{font-size:12px;color:#666;}
.join-description p+p{margin:10px 0 0;}


/* 애니메이션 키프레임 설정 */
@keyframes obj01{0%{opacity:0;} 100%{opacity:1;margin-bottom:28px;}}
@-webkit-keyframes obj01{0%{opacity:0;} 100%{opacity:1;margin-bottom:28px;}}
@-moz-keyframes obj01{0%{opacity:0;} 100%{opacity:1;margin-bottom:28px;}}
@-ms-keyframes obj01{0%{opacity:0;} 100%{opacity:1;margin-bottom:28px;}}

@keyframes obj02{0%{opacity:0;} 100%{opacity:1;bottom:0;}}
@-webkit-keyframes obj02{0%{opacity:0;} 100%{opacity:1;bottom:0;}}
@-moz-keyframes obj02{0%{opacity:0;} 100%{opacity:1;bottom:0;}}
@-ms-keyframes obj02{0%{opacity:0;} 100%{opacity:1;bottom:0;}}

@media only screen and (min-width:980px){
	.wrap-header01{height:1261px;}
	.wrap-header01 .inner{width:1200px;margin:0 auto;padding-bottom:800px;}
	.wrap-header01 .logo-yna01{margin:100px 0 25px;}
	.container01 .inner{width:1200px;margin:0 auto;padding-bottom:150px;}
}

/* =============== ####box-unit ======================== */
[class*='box-unit']{position:relative;text-align:center;}
/* ---- box-unit01 ---- */
.box-unit01{position:relative;}
.box-unit01>.tit{position:relative;display:inline-block;font-weight:700;font-size:60px;}
.box-unit01>.tit:after{content:'';clear:both;position:absolute;z-index:-1;bottom:0;left:0;width:100%;height:23px;background-color:#bdf100}
.box-unit01 .list-unit01{display:grid;grid-template-columns:repeat(2,1fr);gap:90px 100px;margin:72px 0 0;text-align:left;}
.box-unit01 .list-unit01 [class*='unit0']{}
.box-unit01 .list-unit01 [class*='unit0'] .title-box{position:relative;}
.box-unit01 .list-unit01 [class*='unit0'] .ico-img{display:inline-block;width:120px;height:120px;background:url(../img/sprites_dpub.svg) 0 -250px no-repeat;vertical-align:middle;}
.box-unit01 .list-unit01 [class*='unit0'] .tit{position:relative;display:inline-block;padding-left:10px;height:120px;line-height:120px;font-weight:700;font-size:40px;vertical-align:middle;}
.box-unit01 .sub-list01{margin:36px 0 0;}
.box-unit01 .sub-list01 li{position:relative;padding-left:16px;font-size:20px;line-height:25px;}
.box-unit01 .sub-list01 li:before{clear:both;content:"";position:absolute;z-index:1;top:16px;left:0;width:5px;height:5px;background:#000;}
.box-unit01 .sub-list01 li+li{margin:20px 0 0;}

/* =============== ####btn-unit ======================== */

[class*='title-unit0']{}
[class*='title-unit0'].bold .tit{font-weight:700;}

/* ---- title-unit01 ---- */
.title-unit01{}
.title-unit01 .tit{font-weight:500;font-size:24px;line-height:100%;color:#000;letter-spacing:-.5px;}

/* ---- title-unit02 ---- */
.title-unit02{}
.title-unit02 .tit{font-weight:500;font-size:16px;line-height:100%;color:#000;letter-spacing:-.5px;}


/* =============== ####ico-unit ======================== */
[class*='ico-unit']{overflow:hidden;display:inline-block;position:relative;box-sizing:border-box;border:none;background-color:transparent;color:inherit;font:inherit;line-height:normal;vertical-align:top;cursor:pointer;}
[class*='ico-unit']:before{content:'';clear:both;position:absolute;top:0;left:0;background:url(../img/sprites_dpub.svg) no-repeat;}

[class*='ico-unit01-']{width:22px;height:22px;}
[class*='ico-unit01-']:before{width:100%;height:100%;}
.ico-unit01-use{}/* 회원관리 */
.ico-unit01-use:before{background-position:0 0;}
.ico-unit01-useW:before{background-position:-50px 0;}
.ico-unit01-ads{}/* 광고관리 */
.ico-unit01-ads:before{background-position:0 -50px;}
.ico-unit01-adsW:before{background-position:-50px -50px;}
.ico-unit01-mon{}/* 정산관리 */
.ico-unit01-mon:before{background-position:0 -100px;}
.ico-unit01-monW:before{background-position:-50px -100px;}
.ico-unit01-alr{}/* 알림내역 */
.ico-unit01-alr:before{background-position:0 -150px;}
.ico-unit01-alrW:before{background-position:-50px -150px;}
.ico-unit01-gps{}/* GPS 이력 */
.ico-unit01-gps:before{background-position:0 -200px;}
.ico-unit01-gpsW:before{background-position:-50px -200px;}
.ico-unit01-cus{}/* 고객센터 */
.ico-unit01-cus:before{background-position:0 -250px;}
.ico-unit01-cusW:before{background-position:-50px -250px;}
.ico-unit01-sld{}/* 슬라이더 관리 */
.ico-unit01-sld:before{background-position:0 -300px;}
.ico-unit01-sldW:before{background-position:-50px -300px;}
.ico-unit01-tim{}/* 관리자 사용 이력 */
.ico-unit01-tim:before{background-position:0 -350px;}
.ico-unit01-timW:before{background-position:-50px -350px;}
.ico-unit01-set{}/* 계정 관리 */
.ico-unit01-set:before{background-position:0 -400px;}
.ico-unit01-setW:before{background-position:-50px -400px;}

/* =============== ####logo-unit ======================== */
[class*='logo-unit']{overflow:hidden;display:inline-block;position:relative;box-sizing:border-box;border:none;background-color:transparent;color:inherit;font:inherit;line-height:normal;vertical-align:top;cursor:pointer;background: url(../img/sprites_dpub.svg) no-repeat;}

.logo-unit01{width:150px;height:35px;background-position: -100px -300px;}

/* 모바일 헤더 전용 */
.logo-unit02{display:none;width:130px;height:30px;background-position:-86px -259px;background-size:345px auto;}

/* 로그인 페이지 */
.logo-unit03{width:188px;height:45px;background-position: -100px -250px;}

/* =============== ####btn-unit ======================== */
button{border:0;outline:none;padding:0;margin:0;}
[class*='btn-unit']{overflow:hidden;display:inline-block;position:relative;box-sizing:border-box;border:none;background-color:transparent;color:inherit;font:inherit;line-height:normal;vertical-align:top;cursor:pointer;}

[class*='button-box']{font-size:0;}
[class*='button-box']>a+a,
[class*='button-box']>button+button{margin-left:7px;}

[class*='info-box']{font-size:14px;}

.button-box-bottom{margin:28px 0 0;padding:28px 0;border-top:1px solid #E9E9E9;text-align:center;}


/* ---- btn-unit01 ---- */
[class*='btn-unit01']{font-size: 14px;font-weight: 500;width: 100px;height: 38px;line-height: 38px;border-radius: 7px;text-align: center;}

.btn-unit01-type01{background: #DC014C;}
.btn-unit01-type01 .txt{color: #fff;}
.btn-unit01-type02{background: #4C4C4E;}
.btn-unit01-type02 .txt{color: #fff;}
.btn-unit01-type03{background: #E2E2E2;}
.btn-unit01-type03 .txt{color: #313133;}
.btn-unit01-type04{background: #fff;border: 1px solid #E2E2E2;}
.btn-unit01-type04 .txt{color: #313133;}
.btn-unit01-type05{background: #DC014C;width: 140px;}
.btn-unit01-type05 .txt{color: #fff;}

/* ---- btn-unit02 ---- */
[class*='btn-unit02']{width:83px;height: 40px;line-height: 40px;text-align: center;background: #FFF3F7;border-radius: 5px;}
[class*='btn-unit02'] .txt{color: #C20344;font-weight:500;font-size:14px;}

.btn-unit02-type01{background:#4C4C4E;}
.btn-unit02-type01 .txt{color:#fff;}
.btn-unit02-type02{background:#DC014C;}
.btn-unit02-type02 .txt{color:#fff;}
.btn-unit02-type03{background:#fff;border:1px solid #E2E2E2;}
.btn-unit02-type03 .txt{color:#000;}

/* ---- btn-unit03 ---- */
[class*='btn-unit03']{font-size: 13px;font-weight: 500;padding: 3px 13px;border-radius: 5px;}

.btn-unit03-type01{background: #fff;border: 1px solid #E2E2E2;}
.btn-unit03-type01 .txt{color: #313133;}
.btn-unit03-type02{background: #FFE6E6;}
.btn-unit03-type02 .txt{color: #DE2632;}
.btn-unit03-type03{background: #FEEBD7;}
.btn-unit03-type03 .txt{color: #F16204;}
.btn-unit03-type04{background: #E1F2FE;}
.btn-unit03-type04 .txt{color: #1F66D2;}

/* ---- btn-unit04 ---- */
[class*='btn-unit04']{width: 65px;height: 26px;border-radius: 5px;text-align: center;}
[class*='btn-unit04'] .txt{font-size: 12px;font-weight: 500;line-height: 26px;color: #fff;}

.btn-unit04-type01{background: #C20344;}
.btn-unit04-type02{background: #4C4C4E;}
.btn-unit04-type03{background: #FFF3F7;}
.btn-unit04-type03 .txt{color:#940034;}

/* ---- btn-unit05 ---- */
[class*='btn-unit05']{width:68px;height:33px;border-radius:5px;text-align: center;}
[class*='btn-unit05'] .txt{font-size: 14px;font-weight: 500;line-height: 33px;color: #fff;}

.btn-unit05-type01{background: #C20344;}
.btn-unit05-type02{background: #FFF3F7;}
.btn-unit05-type02 .txt{color:#940034;}

/* ---- btn-unit06 ---- */
[class*='btn-unit06']{width:34px;height:34px;border-radius:5px;text-align:center;}
[class*='btn-unit06'] .txt{font-size:20px;font-weight:500;line-height:34px;color: #fff;}

.btn-unit06-plus{background:#B30039;}
.btn-unit06-minu{background:#313133;}

/* ---- logout/search ----*/
.btn-unit-logout{width:60px;height:20px;text-align:center;background:#4F4F54;border-radius:11px;vertical-align:middle;}
.btn-unit-logout .txt{font-size:11px;line-height:20px;color:#ABABB2;}

.btn-unit-search01{width:38px;height:38px;}
.btn-unit-search01 .ir-txt{position:absolute;top:50%;left:50%;margin:-11px 0 0 -11px;width:22px;height:22px;background:url(../img/sprites_dpub.svg) -100px -200px no-repeat;}

/* =============== ####input-unit ======================== */
input{height:40px;border:1px solid #E9E9E9;font-size:14px;box-sizing:border-box;vertical-align:middle;}
[class*='input-container']{position:relative;}
[class*='input-container']:before{content:"";visibility:hidden;display:block;clear:both;height:0;font-size:0;line-height:0;}

[class*='input-unit0']{position:relative;display:block;box-sizing:border-box;padding:0;margin:0;border:0;outline:none;appearance:none;font-size:0;}
[class*='input-unit0']+[class*='input-unit0'],
[class*='input-radio0']+[class*='input-unit0']{margin-top:14px;}
[class*='input-unit0'] .info{display:block;margin:8px 0 0;font-size:12px;color:#A1A1A1;}
[class*='input-unit0'] .input-keyword,
[class*='input-unit0'] input{border:1px solid #E9E9E9;box-sizing:border-box;vertical-align:middle;}
[class*='input-unit0'] label,
[class*='input-unit0'] select{position:relative;font-size:14px;color:#000;vertical-align:middle;}
[class*='input-unit0'] label.nec:after{content:'*';clear:both;font-weight:500;font-size:14px;color:#B30039;padding-left: 5px;}
[class*='input-unit0'] textarea{padding:10px 12px;font-size:14px;color:#000;box-sizing:border-box;}
[class*='input-unit0'] .label,
[class*='input-check0'] .label,
[class*='input-table0'] .label,
[class*='input-file0'] .label{position:relative;display:inline-block;min-width:140px;font-size:14px;color:#000;vertical-align:middle;}
[class*='input-unit0'] .label.nec:after,
[class*='input-check0'] .label.nec:after,
[class*='input-table0'] .label.nec:after,
[class*='input-unit0'] .label.nec:after{content:'*';clear:both;font-weight:500;font-size:14px;color:#B30039;padding-left: 5px;}

.input-unit01{}
.input-unit01 [class*='input0']{}
.input-unit01 [class*='input0']+[class*='input0']{margin-top:8px;}
.input-unit01 input[type="text"],
.input-unit01 .input-keyword{position:relative;width:318px;height:40px;line-height:40px;padding-left:12px;font-size:14px;}
.input-unit01 .input-keyword{height:auto;font-size:0;padding:5px 0 0 5px;}
.input-unit01 textarea{position:relative;width:318px;font-size:14px;}
.input-unit01 .table-container{display:inline-block;width:318px;vertical-align:top;}
.input-unit01 .table-container{}

/* input-keyword */
.input-keyword{}
.input-keyword .word{height:100%;padding:0 5px;margin:0 0 4px 4px;background:#E2E2E2;border-radius:4px;box-sizing:border-box;font-size:14px;}

/*.input-unit01 select{position:relative;width:318px;height:40px;line-height:40px;padding:0 12px;font-size:14px;}*/
.input-unit01 .select-wrap{position:relative;width:318px;height: 40px;border-radius: 0;}

.input-unit01 [class*='input0'].half50 input{width:150px;}
.input-unit01 [class*='input0'].half50 em{position:relative;display:inline-block;margin:0 6px;height:40px;}
.input-unit01 [class*='input0'].half50 em:before{content:'-';clear:both;display:inline-block;height:100%;font-size:14px;line-height:40px;vertical-align:middle;}
.input-unit01 [class*='input0'].half70 input{width:117px;}
.input-unit01 [class*='input0'].half70 input+input{width:194px;}
.input-unit01 [class*='input0'].hafl-btn01 input{width:228px;}
.input-unit01 [class*='input0'].hafl-btn01 input+button{margin-left:8px;}

.input-unit01 [class*='input0'].half50 .select-wrap{width:155px;}

.input-unit01 [class*='input0'].half70 .select-wrap{width:117px;}
.input-unit01 [class*='input0'].half70 .select-wrap+.select-wrap{width:194px;}

.input-search01{display:inline-block;margin-left:7px;box-sizing: border-box;}
.input-search01 input{}
.input-search01 .btn-search{}

/* input-unit02 - 승인 여부 체크 */
.input-unit02{margin-top:20px;}
.input-unit02 .label{position:relative;display:inline-block;min-width:140px;font-size:14px;color:#000;vertical-align:middle;}
.input-unit02 .label.nec:after{content:'*';clear:both;font-weight:500;font-size:14px;color:#B30039;padding-left: 5px;}

/* input-unit03 - 응모조건 추가 */

/**** checkbox ****/
input[type="checkbox"]{display:none;}
input[type="checkbox"] + label{position:relative;display:inline-block;}
input[type="checkbox"]:checked + label::after{content:'';clear:both;position:absolute;left:50%;top:50%;margin:;width:;height:;background:url(../img/sprites_dpub.svg) no-repeat;}

.input-check01{display:inline-block;position:relative;}
.input-check01 input[type="checkbox"]{}
.input-check01 label{width:20px;height:20px;background:#fff;border-radius:4px;border:1px solid #D5D5DC;box-sizing: border-box;}
.input-check01 input[type="checkbox"]:checked + label{background:#FFF3F7;border-color:#CE0A49;}
.input-check01 input[type="checkbox"]:checked + label::after{content:'';clear:both;position:absolute;left:50%;top:50%;margin:-5px 0 0 -7px;width:14px;height:10px;background-position:-100px -150px;}

/* input-check02 - yes/no switch */
.input-check02{position:relative;display:inline-block;width:67px;user-select:none;vertical-align:middle;}
.input-check02 input[type="checkbox"]{display:none;}
.input-check02 input[type="checkbox"]+label{display:block;overflow:hidden;cursor:pointer;border-radius: 20px;}

.input-check02 .chekbox-inner{width:200%;margin-left:-100%;transition:margin 0.3s ease-in 0s;}
.input-check02 .chekbox-inner:before,
.input-check02 .chekbox-inner:after{float:left;box-sizing:border-box;width:50%;height:30px;padding:0;font-weight:500;font-size:14px;line-height:30px;color:#fff;}

.input-check02 .chekbox-inner:before{content:"YES";padding-left:10px;background-color:#B30039;color:#FFF;}
.input-check02 .chekbox-inner:after {content:"NO";padding-right:10px;background-color:#EEE;color: #999;text-align:right;}
.input-check02 .chekbox-switch{width:18px;margin:6px;background:#FFF;border-radius:20px;position:absolute;top:0;bottom:0;right:56px;transition: all 0.3s ease-in 0s;}

.input-check02 input[type="checkbox"]:checked+label .chekbox-inner{margin-left:0;}
.input-check02 input[type="checkbox"]:checked+label .chekbox-switch{right:0px;}

/**** radio ****/
input[type="radio"]{display:none;}
input[type="radio"] + label{position:relative;display:inline-block;}

input[type="radio"]+label{padding-left:26px;font-size:14px;line-height:20px;color:#A1A1A1;}
input[type="radio"] + label:before{content:'';clear:both;position:absolute;top:0;left:0;width:20px;height:20px;background:#fff;border-radius:50%;border:1px solid #D5D5DC;box-sizing: border-box;}
input[type="radio"] + label:after{content:'';clear:both;position:absolute;top:50%;left:5px;margin-top:-3px;width:10px;height:8px;background:url(../img/sprites_dpub.svg) -150px -100px no-repeat;}
input[type="radio"]:checked+label{color:#000;}
input[type="radio"]:checked + label:before{border-color:#B30039;}
input[type="radio"]:checked + label:after{top:50%;left:5px;margin-top:-3px;background-position:-100px -100px;}

[class*='input-radio'] .label{position:relative;display:inline-block;font-size:14px;color:#000;vertical-align:middle;}
[class*='input-radio'] .label.nec:after{content:'*';clear:both;font-weight:500;font-size:14px;color:#B30039;padding-left: 5px;}

.input-radio01{display:inline-block;position:relative;}

/**** file ****/
[class*='input-unit']+[class*='input-file']{margin-top:14px;}
[class*='input-file']{font-size:0;}
[class*='input-file'] .label{position:relative;display:inline-block;min-width:140px;font-size:14px;color:#000;vertical-align:middle;}
[class*='input-file'] .label.nec:after{content:'*';clear:both;font-weight:500;font-size:14px;color:#B30039;padding-left: 5px;}

.input-file01{}
.input-file01 .input01{display:inline-block;}
.input-file01 .list{display:grid;grid-template-columns:repeat(2, 1fr);box-sizing:border-box;border:1px solid #E2E2E2;}
.input-file01 .list>li{box-sizing:border-box;}
.input-file01 .file-title{padding-left:18px;height:40px;line-height:40px;background:#F9F9FB;border-bottom:1px solid #E2E2E2;}
.input-file01 .file-title .tit{font-weight:500;font-size:14px;color:#707072;}
.input-file01 .file-title [class*='btn-unit04-']{float:right;margin:7px 18px 0 0;}
.input-file01 .file-info{padding:12px 18px;}
.input-file01 .file-info .img-con{overflow:hidden;display:inline-block;width:65px;height:65px;border:1px solid #D1D1D1;vertical-align:middle;}
.input-file01 .file-info .img-con img{max-width:100%;max-height:100%;}
.input-file01 .file-info .txt-con{display:inline-block;vertical-align:middle;}
.input-file01 .file-info .txt-con .tit{font-size:12px;line-height:20px;}
.input-file01 .file-info [class*='btn-unit04-']{float:right;margin:20px 0;}

/**** table ****/
.input-table01{margin-top:20px;font-size:0;}
.input-table01 .table-box{display:inline-block;vertical-align:top;font-size:0;}
.input-table01 .table-input-title{height:34px;line-height:34px;background:#F7F7FA;}
.input-table01 .table-input-title .tit{font-weight:500;font-size:14px;margin-left:5px;}
.input-table01 .table-input-title .tit:nth-child(1){padding-left:35px;width:80px;}
.input-table01 .table-input-title .tit:nth-child(2){width:75px;}
.input-table01 .table-input-title .tit:nth-child(3){width:116px;}
.input-table01 .list{margin:5px 0 0;}
.input-table01 [class*='item0']{display:inline-block;margin-left:5px;}
.input-table01 [class*='item0']:nth-child(2){width:75px;}
.input-table01 [class*='item0']:nth-child(3){width:75px;}
.input-table01 [class*='item0']:nth-child(4){width:116px;}
.input-table01 [class*='item0'] input,
.input-table01 [class*='item0'] input[type="text"]{width:100%;}
.input-table01 [class*='btn-unit06']{vertical-align:middle;}
.input-table01 .btn-box{margin:5px 0 0;text-align:right;}

[class*='input-'] .file-clear{position:relative;display:inline-block;width:20px;height:20px;vertical-align:middle;background:none;border:0;}
[class*='input-'] .file-clear:before{position:absolute;top:0;left:0;display:inline-block;width:100%;height:100%;content: "\00d7";font-size:14px;line-height:20px;}

@media only screen and (min-width:980px) {
	.input-file01 .list>li:nth-child(odd){border-right:1px solid #E2E2E2;}
}

/* 필수서류 업로드 */
.input-file02{margin-top:20px;}
.input-file02 [class*='input']{display:inline-block;vertical-align:top;}
.input-file02 .file-box{width:318px;box-sizing:border-box;border: 1px dashed #E9E9E9;text-align:center;}
.input-file02 .file-box .tip{margin:21px 0 0;font-size:12px;color:#A1A1A1;}
.input-file02 .info{margin:6px 0 0;font-size:12px;color:#B30039;text-align:right;}
.input-file02 .btn-unit04-type03{display:block;margin:14px auto;}
.input-file02 .file-info{margin:12px 0 0;padding:6px 0;font-size:0;border-top:1px solid #E9E9E9;border-bottom:1px solid #E9E9E9;}
.input-file02 .file-info+.file-info{margin-top:6px;}
.input-file02 .file-info .img-con,
.input-file02 .file-info .txt-con{display:inline-block;vertical-align:middle;}
.input-file02 .file-info .img-con{width:42px;height:42px;margin-right:14px;box-sizing:border-box;border:1px solid #D1D1D1;}
.input-file02 .file-info .txt-con .tit{font-size:12px;color:#000;vertical-align:middle;}
.input-file02 .file-info .txt-con .btn-clear{vertical-align:middle;}

/* =============== ####title-unit ======================== */
.title-box{}
.title-box+.tab-box{margin:34px 0 0;}

.input-button-wrap{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;margin-top: 10px;}

.top-input-box{font-size:0;}
/*.top-input-box select{width:166px;box-sizing:border-box;border-radius:5px;border:1px solid #E9E9E9;font-size:14px;padding: 0 13px;}*/
.top-input-box .input-search01{width:358px;border-radius:5px;border:1px solid #E9E9E9;background:#fff;}
.top-input-box input{width:86%;box-sizing:border-box;padding:10px 13px;border:0;}
.top-input-box input::placeholder{color:#D9D9D9;}

.top-input-box>.input-unit01{display: inline-block;margin-right: 7px;}
.top-input-box>.input-unit01>.input01>label{min-width: 40px;font-size: 16px;}
.top-input-box>.input-unit01>.input01>label.nec:after{font-size: 0;}
.top-input-box .input-unit01 input {border: 1px solid #E9E9E9;box-sizing: border-box;vertical-align: middle;border-radius: 5px;}

@media only screen and (min-width:980px) {
	[class*='input-unit0'] .info{padding-left:140px;}
	.input-unit01 label{min-width:140px;}
	[class*='input-file'] .label{min-width:140px;}
	.input-radio01 .label{min-width:140px;}

	.input-unit01 [class*='input0']+[class*='input0'].half70,
	.input-unit01 [class*='input0'].nolabel{margin-left:140px;}
	.input-unit01 .half70 input+input,
	.input-unit01 .half50 .select-wrap+.select-wrap,
	.input-unit01 .half70 .select-wrap+.select-wrap{margin-left:7px;}
}


/* =============== ####select 화살표 변경(230426) ========================*/
select {width: 100%;height: 100%;vertical-align: middle;box-sizing: border-box;appearance: none;background: transparent;border: 0;font-size: 14px;padding: 0 13px;}
.select-wrap {width: 166px;height: 38px;border-radius: 5px;position: relative;border: 1px solid #e9e9e9;display: inline-block;box-sizing: border-box;}
.select-wrap::before{content: '';position: absolute;top: 54%;right: 13px;background: url(../img/sprites_dpub.svg) -100px -350px no-repeat;width: 10px;height: 6px;margin: -5px 0 0 -3px;vertical-align: middle;}
.select-wrap+button{margin-left:10px;}

/* =============== ####list-unit ======================== */
.list-unit001 li{position:relative;padding-left:16px;font-size:16px;color:#666;font-weight:500;letter-spacing:-0.4px;}
.list-unit001 li:before{content:'';display:inline-block;position:absolute;top:10px;left:0;width:4px;height:4px;background-color:#999;}
.list-unit001 li + li{margin-top:10px;}

/* =============== ####tab-unit ======================== */
.tab-box{margin-bottom: 29px;}
.tab-unit01 .list{display:flex;font-size:0;}
.tab-unit01 li.tab-item {padding: 10px 20px;margin-right: 10px;background: #FFF3F7;border-radius: 7px;color: #C20344;text-align: center;font-size: 14px;line-height: 14px;font-weight: 500;}
.tab-unit01 li.swiper-slide{width:auto;}
.tab-unit01 li.tab-item:last-child {margin-right: 0;}
.tab-unit01 li.active {background:#C20344;color: #fff;}

.tab-unit02{position:relative;font-size:0;}
.tab-unit02:before{content:'';clear:both;z-index:-1;position:absolute;bottom:0;left:0;width:100%;border-bottom:2px solid #333;}
.tab-unit02 li{display:inline-block;width:50%;height:60px;box-sizing:border-box;text-align:center;}
.tab-unit02 li.active{border-bottom:4px solid #B30039;}
.tab-unit02 .txt{font-size:14px;line-height:60px;color:#000;}
.tab-unit02 li.active .txt{color:#B30039;}

/* =============== ####event-unit ======================== */
.event-container{margin:0 0 40px;}

/* event-unit01 */
.event-unit01{position:relative;overflow:hidden;}
.event-unit01 .slide-con{float:left;position:relative;width:212px;height:297px;margin:0;}
.event-unit01 .slide-con li{float:left;width:inherit;height:inherit;}
.event-unit01 .img-con{overflow:hidden;width:212px;height:297px;}
.event-unit01 .img-con img{width:100%;}
.event-unit01 .slide-con button{position:absolute;z-index:20;background:#FFF3F7;width:20px;height:20px;}
.event-unit01 .slide-con button:before{content:'';clear:both;position:absolute;top:50%;left:50%;margin:-3.2px 0 0 -2px;width:4px;height:7.5px;background:url(../img/sprites_dpub.svg) -100px -400px no-repeat;}
.event-unit01 .slide-con button.prev:before{transform:rotate(180deg);}
.event-unit01 .slide-con button.next:before{}
.event-unit01 .slide-con button.prev{bottom:0;left:0;}
.event-unit01 .slide-con button.next{bottom:0;right:0;}

.event-unit01 .slide-con+.info-con{float:left;margin-left:30px;}
.event-unit01 .info-con{}
.event-unit01 .info-con .list{font-size:0;}
.event-unit01 .info-con li{position:relative;padding-left:12px;}
.event-unit01 .info-con li:before{content:'';clear:both;display:inline-block;position:absolute;top:5px;left:0;width:4px;height:4px;border-radius:50%;background:#C20344;}
.event-unit01 .info-con li+li{margin:16px 0 0;}
.event-unit01 .info-con .tit,
.event-unit01 .info-con .txt{display:inline-block;}
.event-unit01 .info-con .tit{min-width:152px;font-weight:500;font-size:14px;}
.event-unit01 .info-con .txt{font-size:14px;}
.event-unit01 .info-con .table-container02{margin:40px 0 0;}

/* event-unit02 */
.event-unit02{overflow:hidden;}
.event-unit02 [class*='event-box']{box-sizing:border-box;padding:15px 20px;background:#f9f9fb;border:1px solid #e2e2e2;}
.event-unit02 [class*='event-box'] .title-con{display:block;overflow:hidden;margin:0 0 10px;}
.event-unit02 [class*='event-box'] .txt-con .tit,
.event-unit02 [class*='event-box'] .txt-con [class*='txt']{font-size:14px;}
.event-unit02 [class*='event-box0'] .txt-con .tit,
.event-unit02 [class*='event-box0'] .txt-con [class*='txt']{display:block;}
.event-unit02 [class*='event-box0'] .txt-con .tit{margin:0 0 10px;}
.event-unit02 [class*='event-box0'] .txt-con [class*='txt']+[class*='txt']{margin:10px 0 0;}
.event-unit02 [class*='event-box0'] .txt-con .tit+[class*='txt']{margin-top:20px;}
.event-unit02 .event-box01,
.event-unit02 .event-box02{float:left;width:306px;height:238px;}
.event-unit02 .event-box01 .img-con,
.event-unit02 .event-box02 .img-con{overflow:hidden;float:left;width:120px;height:169px;}
.event-unit02 .event-box01 .txt-con,
.event-unit02 .event-box02 .txt-con{float:left;width:124px;margin-left:15px;}

.event-unit02 .event-box21{float:left;width:454px;height:238px;}
.event-unit02 .event-box21 .txt-con .tit,
.event-unit02 .event-box21 .txt-con [class*='txt']{display:inline-block;}
.event-unit02 .event-box21 .txt-con .tit{min-width:120px;}
.event-unit02 .event-box21 .img-con{float:left;display:grid;grid-template-columns:repeat(2, 1fr);gap:5px;width:170px;}
.event-unit02 .event-box21 .img-con [class*='con']{overflow:hidden;width:80px;height:80px;box-sizing:border-box;border:1px solid #d1d1d1;}
.event-unit02 .event-box21 .txt-con{float:left;width:220px;margin-left:15px;}
.event-unit02 .event-box21 .txt-con .list{}
.event-unit02 .event-box21 .txt-con li{line-height:38px;}
.event-unit02 .event-box21 .txt-con li+li{margin:5px 0 0;}
.event-unit02 .event-box21 .txt-con .select-wrap{display:inline-block;width:95px;background:#fff;}

/* event-unit03 */
.event-unit03{display: flex;}
.event-unit03 .event-box01{display:flex;box-sizing:border-box;padding: 15px;background:#F9F9FB;border: 1px solid #E2E2E2;}
.event-unit03 .event-box01:first-child{width:300px;}
.event-unit03 .event-box01:last-child{width: 900px;}
.event-unit03 .event-box01:first-child{margin-right: 10px;}
.event-unit03 .event-box01>.img-txt{display: flex;flex: 1.5;}
.event-unit03 .event-box01>.img-txt>.img-con{margin-right: 5px;}
.event-unit03 .img-con [class*='con']{width: 70px;height: 98px;margin-right: 7px;}
.event-unit03 .event-box01>[class*='txt-con']{padding: 0 20px;flex: 1;}
.event-unit03 .event-box01 [class*='txt-con'] p{margin-bottom: 7px;font-size: 14px;line-height: 1.2;}
.event-unit03 .event-box01 [class*='txt-con'] p.tit {font-size: 16px;font-weight: 500;margin-bottom: 13px;}


/* event-unit04 */
.event-unit03+.event-unit04{margin:10px 0 0;}
.event-unit04{overflow:hidden;}
.event-unit04 .event-box01{box-sizing:border-box;width:1210px;margin:0;padding: 15px;background:#F9F9FB;border: 1px solid #E2E2E2;}
.event-unit04 .img-con{}
.event-unit04 .img-con [class*='con']{float:left;overflow:hidden;width:140px;height:87px;}
.event-unit04 .img-con [class*='con']+[class*='con']{margin-left:10px;}

/* =============== ####page-unit ======================== */
ul.page-unit01{display: flex;justify-content: center;margin-top: 26px;}
ul.page-unit01>li{width: 36px;height: 36px;text-align: center;font-size: 13px;line-height: 36px;font-weight: 500;background: #fff;border: 1px solid #C20344;border-radius: 3px;box-sizing: border-box;margin-right: 5px;}
ul.page-unit01>li:last-child {margin-right: 0;}
ul.page-unit01>li>a{width: 100%;height:100%;color: #C20344;}
ul.page-unit01>li.active{background: #C20344;}
ul.page-unit01>li.active>a{color: #fff;}

[class*='Arr']{position:relative;}
[class*='Arr']:before{content:'';position:absolute;top:50%;left:50%;margin:-10px 0 0 -10px; background:url(../img/sprites_dpub.svg) no-repeat;width: 20px;height: 20px;vertical-align: middle;background-position: -100px -50px;}
ul.page-unit01>li>a.Arr-next{transform: scaleX(-1);}
ul.page-unit01>li.active>[class*='Arr']{background-position: -150px -52px;}

/* =============== ####img-con ======================== */

/* [class*='img-con']>[class*='con']{overflow: hidden;border: 1px solid #D1D1D1;vertical-align: middle;}
[class*='img-con']>[class*='con']>img{max-width: 100%;max-height: 100%;width:100%;height:100%;object-fit: cover;} */

.img-con01>[class*='con']{width: 70px;height: 98px;display: inline-block;}

.img-con02{display: flex;flex-wrap: nowrap;justify-content: center;}
.img-con02>[class*='con']{overflow:hidden;width: 70px;height: 70px;margin-right: 7px;}
.img-con02>[class*='con']:last-child{margin-right: 0;}



/* =============== ####table-unit ======================== */
/* ---- 공통 ---- */
[class*='table-unit']{text-align: center;align-items: center;}
[class*='table-container']>div,
[class*='popup-table-container']>div{display:grid;grid-template-rows: minmax(20px, auto);}
.table-container>div:first-child, .popup-table-container>div:first-child{font-size:13px;font-weight:500;color: #707072;background: #F9F9FB;padding: 10px 0;border-bottom: 1px solid #E2E2E2;}
.table-container>div:nth-child(n+2), .popup-table-container>div:nth-child(n+2){font-size: 14px;padding:10px 0;border-bottom: 1px solid #E2E2E2;}
.table-container .car-picture{}
.table-container .car-picture .img-con{overflow:hidden;display:inline-block;width:65px;height:65px;}
.table-container .table-item{}
.table-container .table-item .input-unit01 [class*='input0'].half50 input{width:80px;height:30px;border-radius:4px;}
.table-container .table-item .input-unit01 [class*='input0'].half50 em{height:30px;}

.table-container02{border: 1px solid #E2E2E2;}
.table-container02>div{font-size:14px;font-weight:500;border-bottom: 1px solid #E2E2E2;}
.table-container02>div:nth-child(n+2){border-bottom:0;}
.table-container02>div .table-item{padding:5px;height:100%;box-sizing:border-box;}
.table-container02>div .table-item.th{color: #707072;background: #F9F9FB;}

.color-x{color: #CE052E;} /* 승인여부-X, 변경이력-미확인 일때 적용 */
.blacklist{background: #FFF3F7;} /* 불량회원일때 적용*/
.m-txt{display: none;} /*Mobile 전용 텍스트*/

/* ---- table-unit01 ---- */
.table-unit01-title, .table-unit01-cont{grid-template-columns: 60px 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit02, table-unit03 ---- */
.table-unit02-title, .table-unit02-cont, .table-unit03-title, .table-unit03-cont{grid-template-columns: 60px 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit04 ---- */
.table-unit04-title, .table-unit04-cont{grid-template-columns: 60px 0.6fr 2fr 1fr 1.5fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit05 ---- */
.table-unit05-title, .table-unit05-cont{grid-template-columns: 60px 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;}
.table-unit05-cont>.table-item:last-child {display: none;}

/* ---- table-unit06 ---- */
.table-unit06-title, .table-unit06-cont{grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit07 ---- */
.table-unit07-title, .table-unit07-cont{grid-template-columns: 0.7fr 1.5fr 1fr 1.5fr 2fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit08 ---- */
.table-unit08-title, .table-unit08-cont{grid-template-columns: 60px 1fr 0.7fr 1.5fr 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit09 ---- */
.table-unit09-title, .table-unit09-cont{grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 2fr 1fr;}

/* ---- table-unit10 ---- */
.table-unit10-title, .table-unit10-cont{grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr 0.7fr;}

/* ---- table-unit11 ---- */
.table-unit11-title, .table-unit11-cont{grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr;}

/* ---- table-unit12 ---- */
.table-unit12-title, .table-unit12-cont{grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr;}

/* ---- table-unit13 ---- */
.table-unit13-title, .table-unit13-cont{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit14 ---- */
.table-unit14-title, .table-unit14-cont{grid-template-columns: 40px 40px 2fr 2fr 1fr 40px 1fr;}

/* ---- table-unit15 ---- */
.table-unit15-title, .table-unit15-cont{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit16 ---- */
.table-unit16-title, .table-unit16-cont{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit17 ---- */
.table-unit17-title, .table-unit17-cont{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}

/* ---- table-unit18 ---- */
.table-unit18-title, .table-unit18-cont{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

/* table-unit19 */
.table-unit19-tit, .table-unit19-cont{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

/* =============== ####popup-table-unit ======================== */
[class*='popup-table-container']{}
.popup-table-container{}
.popup-table-container .img-con01{display:inline-block;overflow:hidden;width:50px;height:50px;border:1px solid #D1D1D1;}
.popup-table-container .img-con01 img{max-width:50px;max-height:50px;}

/* ---- popup-table-unit01 ---- */
.popup-table-unit01-title, .popup-table-unit01-cont{grid-template-columns: 0.5fr 1fr 1fr 1.5fr 0.5fr;}

/* ---- popup-table-unit02 ---- */
.popup-table-unit02-title, .popup-table-unit02-cont{grid-template-columns: repeat(4, 1fr);}

/* ---- popup-table-unit03 ---- */
.popup-table-unit03-title, .popup-table-unit03-cont{grid-template-columns: repeat(5, 1fr);}

/* ---- popup-table-unit04 ---- */
.popup-table-unit04-title, .popup-table-unit04-cont{grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;}

/* ---- popup-table-unit05 ---- */
.popup-table-unit05-title, .popup-table-unit05-cont{grid-template-columns: 1fr 2fr 1fr 2fr 1fr;}

/* ---- popup-table-unit06 ---- */
.popup-table-unit06-title, .popup-table-unit06-cont{grid-template-columns: 0.5fr 1fr 1fr 2fr 0.5fr 2fr 1fr;}


/* =============== ####layer-unit ======================== */
[class*='layer-unit']{display:none;position:fixed;z-index:10;top:30%;left:50%;background:#fff;box-sizing:border-box;}
[class*='layer-unit'].active{display:block;}
[class*='layer-unit']{}
[class*='layer-unit'] .layer-close{position:absolute;top:20px;right:20px;width:20px;height:20px;background:none;}
[class*='layer-unit'] .layer-close .ir-txt{position:relative;width:100%;height:100%;height:2px;}
[class*='layer-unit'] .layer-close .ir-txt:before,
[class*='layer-unit'] .layer-close .ir-txt:after{content:'';position:absolute;background:#000;display:block;width:100%;height: 100%;transition: all .2s ease-out;}
[class*='layer-unit'] .layer-close .ir-txt:before{top:5px;transform: rotate(-45deg);}
[class*='layer-unit'] .layer-close .ir-txt:after{top:5px;transform: rotate(45deg);}

/* page06 - 광고안내(회원 광고매칭이력) */
.layer-unit01{width:972px;padding:46px;margin:-223px 0 0 -486px;}
.layer-unit01 .title-box{margin:0 0 38px;text-align:center;}
.layer-unit01 .title-box .tit{font-weight:700;font-size:16px;}

/* page06 - 광고안내(메모관리) */
.layer-unit02{width:280px;height: 361px;padding: 28px;margin:-180px 0 0 -140px;}
.layer-unit02 .title-box{font-size: 14px;}
.layer-unit02 .title-box .tit{font-size:20px;font-weight: 500;margin-bottom: 20px;}
[class*='memo-']>p:first-child{font-size: 13px;color: #A1A1A1;margin-bottom: 6px;}
.layer-unit02 .title-box .memo-id{margin-bottom: 17px;}
.layer-unit02 .title-box .memo-text textarea{font-size: 14px;padding: 10px;width: 100%;height: 151px;border: 1px solid #d1d1d1;resize: none;box-sizing: border-box;}
.layer-unit02 .button-box{margin-top: 12px;text-align: center;}
.layer-unit02>.button-box>button:first-child{margin-right:7px;}

/* page18 - 응모관리 차량사진(슬라이드) */
.layer-unit03{width:600px;padding:46px;margin:-223px 0 0 -300px;}
.layer-unit03 .event-unit01{}
.layer-unit03 .event-unit01 .slide-con{float:none;margin:0 auto;width:400px;height:240px;}
.layer-unit03 .event-unit01 .img-con{width:400px;height:240px;}
.layer-unit03 .event-unit01 .slide-con{padding-bottom:40px;}
.layer-unit03 .event-unit01 .slide-con button{width:40px;height:40px;}
.layer-unit03 .button-box{margin-top:30px;text-align:center;}

/* =============== ######Control ======================== */
.input-container02{}












/* =============== ######반응형 분기 (max-width:980px) ======================== */
@media only screen and (max-width:980px){




}
