@charset "utf-8";
/*************************************************
프로젝트명 : dpub
commnet : style_m.css
*************************************************/

@media only screen and (max-width:980px) {
/* =============== ####table-unit ======================== */
.m-txt {display: block;} /*Mobile 전용 텍스트*/
.pc-txt {display: none;} /*PC 전용 텍스트*/
.else, .table-item::before {display: none;}

.wrap-left-menu{opacity:0;visibility:hidden;z-index:100;position:fixed;top:0;height:100%;width:0;
transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;}
.wrap-left-menu.active{opacity:1;visibility:visible;width:180px;}

/* 왼쪽메뉴 닫기 - 모바일전용 */
.wrap-left-menu .btn-left-close{position:absolute;top:0;right:-30px;width:30px;height:30px;background:#fff;padding:0;outline:none;border:1px solid #313133;border-left:0;}
.btn-left-close:before, .btn-left-close:after{position:absolute;top:5px;left:13px;content:' ';height:20px;width: 2px;background-color: #000;}
.btn-left-close:before {transform: rotate(45deg);}
.btn-left-close:after {transform: rotate(-45deg);}


}