@charset "utf-8";
/*************************************************
프로젝트명 : dpub
commnet : style_m.css
*************************************************/

@media only screen and (max-width:980px) {

.wrap-container{display:block;}

.wrap-left-menu{opacity:0;visibility:hidden;z-index:100;position:fixed;top:0;height:100%;width:0;
transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;}
.wrap-left-menu.active{opacity:1;visibility:visible;width:280px;}

/* 왼쪽메뉴 닫기 - 모바일전용 */
.wrap-left-menu .btn-left-close{position:absolute;top:0;right:-30px;width:30px;height:30px;background:#fff;padding:0;outline:none;border:1px solid #313133;border-left:0;}
.btn-left-close:before, .btn-left-close:after{position:absolute;top:5px;left:13px;content:' ';height:20px;width: 2px;background-color: #000;}
.btn-left-close:before {transform: rotate(45deg);}
.btn-left-close:after {transform: rotate(-45deg);}

/* 2023-04-19 진희 작업 */
.wrap-left-menu .logo-unit01{margin:18px 0 0 66px;}
.wrap-left-menu .user{margin:37px 0 30px 24px;}
.wrap-left-menu .user>.txt{font-weight:500;font-size:15px;color:#fff;vertical-align:middle;}
.wrap-left-menu .btn-unit-logout{margin-left:40px;}
.menu-list>li{padding: 12px 0 12px 18px;}
.menu-list>li .txt{padding-left:16px;font-size:18px;line-height:1;color:#919197;}

/* 모바일 헤더 */
.wrap-header01{width:100%;height:60px;box-sizing:border-box;padding:16px 0 0;background:#313133;}
.wrap-header01 .btn-unit-wholemenu{position:absolute;top:16px;left:16px;}

.btn-unit-wholemenu{cursor:pointer;display:inline-block;position:absolute;z-index:2;padding:8px 0;top:4px;right:4px;width:30px;height:30px;margin:0;}
.btn-unit-wholemenu .line{position:relative;display:block;width:18px;height:2px;margin:auto;background:#fff;transition: background .2s ease-out;}

.btn-unit-wholemenu .line:before,
.btn-unit-wholemenu .line:after{content:'';position:absolute;background:#fff;display: block;width:100%;height: 100%;transition: all .2s ease-out;}

.btn-unit-wholemenu .line:before{top:5px;}
.btn-unit-wholemenu .line:after{top:-5px;}

.btn-unit-wholemenu.active .line:before{transform: rotate(-45deg);}
.btn-unit-wholemenu.active .line:after{transform: rotate(45deg);}
.btn-unit-wholemenu.active .line{background:transparent;}

.btn-unit-wholemenu.active:not(.steps) .line:before,
.btn-unit-wholemenu.active:not(.steps) .line:after{top:0;}

body.left-menu-active .wrap-header01 .btn-unit-wholemenu{position:fixed;z-index:100;}

.wrap-content{height:inherit;padding:20px 16px 0;background: #fff;}
.content{padding: 0;border-radius: 0;background: transparent;}
.content .input-button-wrap+.table-container{margin:8px 0 0;}

.content .inner .input-container{float:none;}
.content .inner .input-container+.input-container{margin-left:0;}

.tab-box {margin-bottom: 18px;}

/* left-menu logo */
.logo-unit01{width:130px;height:30px;background-position:-86px -259px;background-size:345px auto;}

/* 모바일 헤더 전용 */
.logo-unit02{display:block;margin:0 auto;}

/* 로그인 페이지 */
.wrap-login{background:none;}
[class*='container-login']{position:inherit;top:inherit;left:inherit;padding:20px 0;width:100%;margin:0 auto;height:inherit;background:none;box-shadow:none;}
.container-login01{}
.container-login02{padding:20px 0 50px;}
.container-login02 .logo-unit03{margin:30px auto 0;}
.container-login02 .login-input{margin:30px 20px 0;}

/* 로그인 - 아이디/비밀번호 찾기 */
.login-input{margin:30px 20px 0;}
.login-input input[type="text"]{width:100%;height:40px;}
.login-input .input-unit01 label{min-width:80px;}
.login-input .input-unit01 [class*='input0'].hafl-btn01 input{width:calc(100% - 172px);}
.confirm-login{margin:30px 0 0;}
.confirm-login button{width:100%;height:40px;}

.container-login02 .login-input input[type="text"]{width:calc(100% - 90px);}

/* 회원가입 */
.container-login03{}
.container-login03 .confirm-login{margin:30px 20px 0;}
.check-join{margin:0 20px 0;}



/* 회원가입 */
.wrap-login .join-info{margin:30px 0 20px;}

/* tab-unit01 */
.tab-unit01 .list{/*flex-wrap:wrap;*/}
.tab-unit01 li.tab-item {margin-right: 7px;}

/* =============== ####event-unit ======================== */
.event-unit01 .slide-con{float:none;position:relative;width:100%;height:inherit;margin:0;padding:0 0 40px;}
.event-unit01 .slide-con li{float:left;width:inherit;height:inherit;}
.event-unit01 .img-con{width:100%;height:0;padding-bottom:55%;}
.event-unit01 .img-con img{width:100%;}
.event-unit01 .slide-con button{width:40px;height:40px;}
.event-unit01 .slide-con button:before{content:'';clear:both;position:absolute;top:50%;left:50%;margin:-3.2px 0 0 -2px;width:4px;height:7.5px;background:url(../img/sprites_dpub.svg) -100px -400px no-repeat;}
.event-unit01 .slide-con button.prev:before{transform:rotate(180deg);}
.event-unit01 .slide-con button.next:before{}
.event-unit01 .slide-con button.prev{bottom:0;left:0;}
.event-unit01 .slide-con button.next{bottom:0;right:0;}

.event-unit01 .slide-con+.info-con{float:none;margin:30px 0 0;}
.event-unit01 .info-con{}
.event-unit01 .info-con .list{font-size:0;}
.event-unit01 .info-con li{position:relative;padding-left:12px;}
.event-unit01 .info-con li:before{content:'';clear:both;display:inline-block;position:absolute;top:5px;left:0;width:4px;height:4px;border-radius:50%;background:#C20344;}
.event-unit01 .info-con li+li{margin:16px 0 0;}
.event-unit01 .info-con .tit,
.event-unit01 .info-con .txt{display:inline-block;}
.event-unit01 .info-con .tit{min-width:152px;font-weight:500;font-size:14px;}
.event-unit01 .info-con .txt{font-size:14px;}
.event-unit01 .info-con .table-container02{margin:40px 0 0;}

/* event-unit02 */
.event-unit02 [class*='event-box']{box-sizing:border-box;padding:15px 20px;background:#f9f9fb;border:1px solid #e2e2e2;}
.event-unit02 [class*='event-box']+[class*='event-box']{margin-top:10px;}
.event-unit02 [class*='event-box0'] .txt-con .tit{margin:0 0 10px;}
.event-unit02 [class*='event-box0'] .txt-con [class*='txt']+[class*='txt']{margin:10px 0 0;}
.event-unit02 [class*='event-box0'] .txt-con .tit+[class*='txt']{margin-top:20px;}
.event-unit02 .event-box01,
.event-unit02 .event-box02{float:none;width:100%;height:200px;}
.event-unit02 .event-box01 .img-con,
.event-unit02 .event-box02 .img-con{overflow:hidden;float:left;width:100px;height:140px;}
.event-unit02 .event-box01 .txt-con,
.event-unit02 .event-box02 .txt-con{float:left;width:124px;margin-left:15px;}

.event-unit02 .event-box21{float:left;width:100%;height:inherit;}
.event-unit02 .event-box21 .txt-con .tit{min-width:120px;}
.event-unit02 .event-box21 .img-con{float:none;display:grid;grid-template-columns:repeat(2, 1fr);gap:5px;width:100%;}
.event-unit02 .event-box21 .img-con [class*='con']{overflow:hidden;width:100%;height:0;padding-bottom:65%;box-sizing:border-box;border:1px solid #d1d1d1;}
.event-unit02 .event-box21 .txt-con{float:left;width:100%;margin-left:0;}

.event-unit02 .event-box21 .txt-con li{line-height:38px;}
.event-unit02 .event-box21 .txt-con li+li{margin:5px 0 0;}

/* =============== ####btn-unit ======================== */
.btn-unit02{height:36px;line-height:36px;}

/* =============== ####input-unit ======================== */
.input-container{padding-bottom:50px;}

input {height:38px;border:1px solid #E9E9E9;font-size: 14px;box-sizing:border-box;vertical-align:middle;}

[class*='input-unit0']{position:relative;display:block;box-sizing:border-box;padding:0;margin:0;border:0;outline:none;appearance:none;font-size:0;}
[class*='input-unit0']+[class*='input-unit0'],
[class*='input-radio0']+[class*='input-unit0']{margin-top:14px;}
[class*='input-unit0'] .info{display:block;margin:8px 0 0;font-size:12px;color:#A1A1A1;}
[class*='input-unit0'] input{border:1px solid #E9E9E9;box-sizing:border-box;vertical-align:middle;}
[class*='input-unit0'] label,
[class*='input-unit0'] select{position:relative;font-size:14px;color:#000;vertical-align:middle;}
[class*='input-unit0'] label.nec:after{content:'*';clear:both;font-weight:500;font-size:14px;color:#B30039;padding-left: 5px;}

[class*='input-unit0'] .label,
[class*='input-check0'] .label,
[class*='input-table0'] .label,
[class*='input-file0'] .label{min-width:100px;}


/* input-unit01 */
/* .input-unit01{padding:0 16px;} */
.input-unit01 [class*='input0']{width:100%;}
.input-unit01 [class*='input0'].nolabel{width:calc(100% - 100px);}
.input-unit01 label{min-width:100px;}
.input-unit01 input{width:calc(100% - 100px);height:36px;line-height:36px;}
.input-unit01 input[type="text"]{width:calc(100% - 100px);}
.input-unit01 .input-keyword{width:100%;}
.input-unit01 textarea{width:calc(100% - 100px);}
.input-unit01 .select-wrap{width:calc(100% - 100px);height:36px;line-height:36px;}
.input-unit01 .table-container{width:calc(100% - 100px);}

[class*='input-unit0'] .info{padding-left:100px;}
.input-unit01 [class*='input0'].hafl-btn01 input{width:calc(100% - 191px);}
.input-unit01 [class*='input0']+[class*='input0'].half70{margin-left:100px;width:calc(100% - 100px);}
.input-unit01 [class*='input0'].half70 input{width:30%;}
.input-unit01 [class*='input0'].half70 input+input{width:calc(70% - 4px);margin-left:4px;}

.input-unit01 [class*='input0'] select{width:100%;}
.input-unit01 [class*='input0'].half50{}
.input-unit01 [class*='input0'].half50 input{width:calc(50% - 59px);}
.input-unit01 [class*='input0'].half50 .select-wrap{width:35%;}
.input-unit01 [class*='input0'].half50 .select-wrap+.select-wrap{width:calc(35% - 2px);margin-left:4px;}
.input-unit01 [class*='input0'].half70{}
.input-unit01 [class*='input0'].half70 .select-wrap{width:30%;}
.input-unit01 [class*='input0'].half70 .select-wrap+.select-wrap{width:calc(40% - 2px);margin-left:4px;}

.input-unit01 [class*='input0']+[class*='input0'].half70,
.input-unit01 [class*='input0'].nolabel{margin-left:100px;}
/* .input-unit01 [class*='input0'].nolabel{width:calc(100% - 100px);} */
.input-unit01 [class*='input0'].nolabel input{width:100%;}

.input-unit02{margin:20px 0 0;}
.input-unit02 .label{min-width:100px;}

/* input-radio01 */
[class*='input-radio'] .label{min-width:100px;font-size:13px;}
input[type="radio"]+label{padding-left:18px;font-size:13px;}
input[type="radio"]+label:before{top:3px;width:14px;height:14px;}
input[type="radio"]+label:after{left:2px;margin-top:-3px;}
input[type="radio"]:checked+label:after{left:2px;margin-top:-3px;}
.input-radio01{}
.input-radio01 input[type="radio"]+label{margin-right:4px;}

/* input-file01 */
[class*='input-unit']+[class*='input-file']{margin-top:20px;}
.input-file01 .input01{display:block;}
.input-file01 .label{display:block;margin:0 0 12px;}
.input-file01 .list{grid-template-columns:repeat(1, 1fr);grid-gap:10px;border:0;}
.input-file01 .list>li{border:1px solid #E2E2E2;}

/* input-file02 */
.input-file02{}
.input-file02 [class*='input0']{width:100%;}
.input-file02 .label{display:block;margin:0 0 12px;}
.input-file02 .file-box{width:100%;}

.top-input-box{width:100%;}
.top-input-box .select-wrap{width:100px;}
.top-input-box .input-search01{width:calc(100% - 105px);margin-left:5px;}
.top-input-box input{width:calc(100% - 40px);}

.top-input-box .w-option{width: 100%;margin-left: 0;}
.top-input-box>.input-unit01 {display: block;margin-right: 0;}
.top-input-box>.input-unit01>.half50>input{width:calc(100%/2 - 29px);}
.button-box{display:block;margin:10px 0 0;width:100%;text-align: right;}
.button-box>a+a{margin-left:5px;}
.button-box [class*='btn-unit01-']{width:calc(33% - 2.5px);}
.button-box>.btn-unit01-type05{width:calc(38% - 2.5px);}

/* input-table01 */
.input-table01 .table-box{display:block;margin-top:12px;width:100%;}
.input-table01 .table-input-title .tit:nth-child(1){width:calc(30% - 16.3px);}
.input-table01 .table-input-title .tit:nth-child(2){width:calc(30% - 16.3px);}
.input-table01 .table-input-title .tit:nth-child(3){width:calc(39.3% - 16.3px);}
.input-table01 [class*='item0']:nth-child(2){width:calc(30% - 16.3px);}
.input-table01 [class*='item0']:nth-child(3){width:calc(30% - 16.3px);}
.input-table01 [class*='item0']:nth-child(4){width:calc(39.3% - 16.3px);}

/* =============== ####img-box ======================== */
.img-con01>[class*='con']{width: 50px;height: 70px;}
	
.img-con02{justify-content: space-around;}
.img-con02>[class*='con']{margin: 0;}

/* =============== ####table-unit ======================== */
.m-txt{display: block;} /*Mobile 전용 텍스트*/
.pc-txt{display: none;} /*PC 전용 텍스트*/
.else, .table-item::before{display: none;} /*변경이력을 확인했거나 없음일때*/

[class*='table-unit']{text-align: left;align-items: start;}
.table-container>div:first-child, .popup-table-container>div:first-child{display: none;}
.table-container>div:nth-child(n+2), .popup-table-container>div:nth-child(n+2) {padding: 10px;}

.table-container02{}
.table-container02 .table-item:before{display:none;}

.table-item{padding: 5px 0;position: relative;padding-left: 8px;line-height: 17px;}
.table-item:before{content:'';display:inline-block;position:absolute;width: 3px;height: 3px;background-color: #969698;top:12px;left:0;border-radius: 50%;}


/* ---- table-unit01 ---- */
.table-unit01-cont{
	grid-template-areas:
		"check id-name approve"
		"check phone day"
		"check car-weight editday"
		"check button1 button2";
	grid-template-columns: 0.23fr 1fr 1fr;grid-template-rows: repeat(3, minmax(35px, auto));margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit01-cont>.table-item:nth-child(1){grid-area: check;}
.table-unit01-cont>.table-item:nth-child(2){grid-area: approve;}
.table-unit01-cont>.table-item:nth-child(3){grid-area: id-name;}
.table-unit01-cont>.table-item:nth-child(4){display: none;}
.table-unit01-cont>.table-item:nth-child(5){grid-area: phone;}
.table-unit01-cont>.table-item:nth-child(6){grid-area: car-weight;}
.table-unit01-cont>.table-item:nth-child(7){grid-area: day;}
.table-unit01-cont>.table-item:nth-child(8){grid-area: editday;}
.table-unit01-cont>.table-item:nth-child(9){grid-area: button1;text-align: center;}
.table-unit01-cont>.table-item:nth-child(10){grid-area: button2;text-align: center;}

.table-unit01-cont>.table-item:nth-child(1)::before, .table-unit01-cont>.table-item:nth-child(4)::before, .table-unit01-cont>.table-item:nth-child(9)::before, .table-unit01-cont>.table-item:nth-child(10)::before{display: none;}
.table-unit01-cont>.table-item:nth-child(1), .table-unit01-cont>.table-item:nth-child(4), .table-unit01-cont>.table-item:nth-child(9), .table-unit01-cont>.table-item:nth-child(10){padding-left: 0;}


/* ---- table-unit02 ---- */
.table-unit02-cont{
	grid-template-areas:
		"check id-name approve"
		"check phone day"
		"check company-number editday"
		"check button-set button-set";
	grid-template-columns: 0.23fr 1fr 1fr;grid-template-rows: repeat(3, minmax(30px, auto));margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit02-cont>.table-item:nth-child(1){grid-area: check;}
.table-unit02-cont>.table-item:nth-child(2){grid-area: approve;}
.table-unit02-cont>.table-item:nth-child(3){grid-area: id-name;}
.table-unit02-cont>.table-item:nth-child(4){display: none;}
.table-unit02-cont>.table-item:nth-child(5){grid-area: phone;}
.table-unit02-cont>.table-item:nth-child(6){grid-area: company-number;}
.table-unit02-cont>.table-item:nth-child(7){display: none;}
.table-unit02-cont>.table-item:nth-child(8){grid-area: day;}
.table-unit02-cont>.table-item:nth-child(9){grid-area: editday;}
.table-unit02-cont>.table-item:nth-child(10){grid-area: button-set;text-align: center;}
.table-unit02-cont>.table-item:nth-child(11){display: none;}
.table-unit02-cont>.table-item:nth-child(12){display: none;}

.table-unit02-cont>.table-item:nth-child(1)::before, .table-unit02-cont>.table-item:nth-child(10)::before{display: none;}
.table-unit02-cont>.table-item:nth-child(1), .table-unit02-cont>.table-item:nth-child(10){padding-left: 0;}

.table-unit02-cont>.table-item:nth-child(10)>.m-txt{display: flex;justify-content: space-around;}
.table-unit02-cont>.table-item:nth-child(10)>.m-txt>button{vertical-align: middle;}

/* ---- table-unit03 ---- */
.table-unit03-cont{
	grid-template-areas:
		"check id-name approve"
		"check phone day"
		"check company-number editday"
		"check area ."
		"check button1 button2";
	grid-template-columns: 0.23fr 1fr 1fr;grid-template-rows: repeat(3, minmax(30px, auto));margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit03-cont>.table-item:nth-child(1){grid-area: check;}
.table-unit03-cont>.table-item:nth-child(2){grid-area: approve;}
.table-unit03-cont>.table-item:nth-child(3){grid-area: id-name;}
.table-unit03-cont>.table-item:nth-child(4){display: none;}
.table-unit03-cont>.table-item:nth-child(5){grid-area: phone;}
.table-unit03-cont>.table-item:nth-child(6){grid-area: company-number;}
.table-unit03-cont>.table-item:nth-child(7){display: none;}
.table-unit03-cont>.table-item:nth-child(8){grid-area: area;}
.table-unit03-cont>.table-item:nth-child(9){grid-area: day;}
.table-unit03-cont>.table-item:nth-child(10){grid-area: editday;}
.table-unit03-cont>.table-item:nth-child(11){grid-area: button1;text-align: center;}
.table-unit03-cont>.table-item:nth-child(12){grid-area: button2;text-align: center;}

.table-unit03-cont>.table-item:nth-child(1)::before, .table-unit03-cont>.table-item:nth-child(11)::before, .table-unit03-cont>.table-item:nth-child(12)::before{display: none;}
.table-unit03-cont>.table-item:nth-child(1), .table-unit03-cont>.table-item:nth-child(11), .table-unit03-cont>.table-item:nth-child(12){padding-left: 0;}

/* ---- table-unit04 ---- */
.table-unit04-cont{
	grid-template-areas:
		"check ad-number advertiser state"
		"check ad-img ad-title apply-member"
		"check ad-img ad-title matching"
		"check ad-term ad-term ad-term"
		"check apply-term apply-term apply-term"
		"check favor favor favor"
		"check button button button";
	grid-template-columns: 0.3fr 0.4fr 1.3fr 1fr;grid-template-rows: repeat(7, minmax(30px, auto));margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit04-cont>.table-item:nth-child(1){grid-area: check;}
.table-unit04-cont>.table-item:nth-child(2){grid-area: ad-number;}
.table-unit04-cont>.table-item:nth-child(3){grid-area: advertiser;}
.table-unit04-cont>.table-item:nth-child(4){grid-area: ad-img;}
.table-unit04-cont>.table-item:nth-child(5){grid-area: ad-title;}
.table-unit04-cont>.table-item:nth-child(6){grid-area: ad-term;}
.table-unit04-cont>.table-item:nth-child(7){grid-area: apply-term;}
.table-unit04-cont>.table-item:nth-child(8){grid-area: favor;}
.table-unit04-cont>.table-item:nth-child(9){grid-area: apply-member;}
.table-unit04-cont>.table-item:nth-child(10){grid-area: matching;}
.table-unit04-cont>.table-item:nth-child(11){grid-area: state;}
.table-unit04-cont>.table-item:nth-child(12){grid-area: button;text-align: center;}

.table-unit04-cont>.table-item:nth-child(1)::before, .table-unit04-cont>.table-item:nth-child(4)::before, .table-unit04-cont>.table-item:nth-child(5)::before, .table-unit04-cont>.table-item:nth-child(12)::before{display: none;}
.table-unit04-cont>.table-item:nth-child(1), .table-unit04-cont>.table-item:nth-child(4), .table-unit04-cont>.table-item:nth-child(12){padding-left: 0;}

.table-unit04-cont>.table-item:nth-child(12)>.btn-unit03-type03{width: 100%;padding: 5px 13px;}

/* ---- table-unit05 ---- */
.table-unit05-cont{
	grid-template-areas:
		"check id-name state"
		"check phone car-type"
		"check area prove"
		"check term term"
		"check car-picture car-picture"
		"check button button";
	grid-template-columns: 0.23fr 1.3fr 0.7fr;grid-template-rows: repeat(7, minmax(30px, auto));margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit05-cont>.table-item:nth-child(1){grid-area: check;}
.table-unit05-cont>.table-item:nth-child(2){grid-area: id-name;}
.table-unit05-cont>.table-item:nth-child(3){grid-area: car-type;}
.table-unit05-cont>.table-item:nth-child(4){grid-area: phone;}
.table-unit05-cont>.table-item:nth-child(5){grid-area: area;}
.table-unit05-cont>.table-item:nth-child(6){grid-area: term;}
.table-unit05-cont>.table-item:nth-child(7){grid-area: car-picture;}
.table-unit05-cont>.table-item:nth-child(8){grid-area: state;}
.table-unit05-cont>.table-item:nth-child(9){grid-area: prove;}
.table-unit05-cont>.table-item:nth-child(10){grid-area: button;text-align: center;}

.table-unit05-cont>.table-item:nth-child(1)::before, .table-unit05-cont>.table-item:nth-child(7)::before, .table-unit05-cont>.table-item:nth-child(10)::before{display: none;}
.table-unit05-cont>.table-item:nth-child(1), .table-unit05-cont>.table-item:nth-child(7), .table-unit05-cont>.table-item:nth-child(10){padding-left: 0;}

.table-unit05-cont>.table-item:nth-child(10) {display: block;}	
.table-unit05-cont>.table-item:nth-child(10)>.btn-unit03-type03{width: 100%;padding: 5px 13px;}

/* ---- table-unit06 ---- */
.table-unit06-cont{
	grid-template-areas:
		"prove-number prove-term"
		"km1 km2"
		"prove-picture prove-picture"
		"prove-day button";
	grid-template-columns: 1fr 1.3fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit06-cont>.table-item:nth-child(1){grid-area: prove-number;}
.table-unit06-cont>.table-item:nth-child(2){grid-area: prove-term;}
.table-unit06-cont>.table-item:nth-child(3){grid-area: prove-picture;text-align: center;}
.table-unit06-cont>.table-item:nth-child(4){grid-area: km1;}
.table-unit06-cont>.table-item:nth-child(5){grid-area: km2;}
.table-unit06-cont>.table-item:nth-child(6){grid-area: prove-day;}
.table-unit06-cont>.table-item:nth-child(7){grid-area: button;}

.table-unit06-cont>.table-item:nth-child(3)::before, .table-unit06-cont>.table-item:nth-child(7)::before{display: none;}
.table-unit06-cont>.table-item:nth-child(3), .table-unit06-cont>.table-item:nth-child(7){padding-left: 0;}


/* ---- table-unit07 ---- */
.table-unit07-cont{
	grid-template-areas:
		"ad-number advertiser time-state"
		"ad-img ad-title matching"
		"ad-img ad-title un-calculate"
		"ad-term ad-term ad-term";
	grid-template-columns: 0.5fr 1.2fr 1fr;grid-template-rows: repeat(4, minmax(30px, auto));margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit07-cont>.table-item:nth-child(1){grid-area: ad-number;}
.table-unit07-cont>.table-item:nth-child(2){grid-area: advertiser;}
.table-unit07-cont>.table-item:nth-child(3){grid-area: ad-img;}
.table-unit07-cont>.table-item:nth-child(4){grid-area: ad-title;}
.table-unit07-cont>.table-item:nth-child(5){grid-area: ad-term;}
.table-unit07-cont>.table-item:nth-child(6){display: none;}
.table-unit07-cont>.table-item:nth-child(7){grid-area: time-state;}
.table-unit07-cont>.table-item:nth-child(8){grid-area: matching;}
.table-unit07-cont>.table-item:nth-child(9){grid-area: un-calculate;}

.table-unit07-cont>.table-item:nth-child(3)::before, .table-unit07-cont>.table-item:nth-child(4)::before{display: none;}
.table-unit07-cont>.table-item:nth-child(3){padding-left: 0;}


/* ---- table-unit08 ---- */
.table-unit08-cont{
	grid-template-areas:
		"check id-name calculate-number money"
		"check phone phone phone"
		"check bank-name-number bank-name-number bank-name-number"
		"check ad-term ad-term ad-term"
		"check button1 button2 button3";
	grid-template-columns: 50px;grid-auto-columns: 1fr 1fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit08-cont>.table-item:nth-child(1){grid-area: check;text-align: center;}
.table-unit08-cont>.table-item:nth-child(2){grid-area: id-name;}
.table-unit08-cont>.table-item:nth-child(3){grid-area: calculate-number;}
.table-unit08-cont>.table-item:nth-child(4){grid-area: ad-term;}
.table-unit08-cont>.table-item:nth-child(5){grid-area: phone;}
.table-unit08-cont>.table-item:nth-child(6){grid-area: bank-name-number;}
.table-unit08-cont>.table-item:nth-child(7){display: none;}
.table-unit08-cont>.table-item:nth-child(8){display: none;}
.table-unit08-cont>.table-item:nth-child(9){grid-area: money;}
.table-unit08-cont>.table-item:nth-child(10){grid-area: button3;text-align: center;}
.table-unit08-cont>.table-item:nth-child(11){grid-area: button1;text-align: center;}
.table-unit08-cont>.table-item:nth-child(12){grid-area: button2;text-align: center;}

.table-unit08-cont>.table-item:nth-child(1)::before, .table-unit08-cont>.table-item:nth-child(10)::before, .table-unit08-cont>.table-item:nth-child(11)::before, .table-unit08-cont>.table-item:nth-child(12)::before{display: none;}
.table-unit08-cont>.table-item:nth-child(1), .table-unit08-cont>.table-item:nth-child(10), .table-unit08-cont>.table-item:nth-child(11), .table-unit08-cont>.table-item:nth-child(12){padding-left: 0;}


/* ---- table-unit09 ---- */
.table-unit09-cont{
	grid-template-areas:
		"id-name money"
		"phone phone"
		"bank-name-number bank-name-number"
		"calculate calculate";
	grid-template-columns: 1fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit09-cont>.table-item:nth-child(1){grid-area: id-name;}
.table-unit09-cont>.table-item:nth-child(2){display: none;}
.table-unit09-cont>.table-item:nth-child(3){grid-area: calculate;}
.table-unit09-cont>.table-item:nth-child(4){grid-area: phone;}
.table-unit09-cont>.table-item:nth-child(5){grid-area: bank-name-number;}
.table-unit09-cont>.table-item:nth-child(6){display: none;}
.table-unit09-cont>.table-item:nth-child(7){display: none;}
.table-unit09-cont>.table-item:nth-child(8){grid-area: money;}


/* ---- table-unit10 ---- */
.table-unit10-cont{
	grid-template-areas:
		"approve-number day"
		"ad-name-time money"
		"company-name-number company-name-number";
	grid-template-columns: 1fr 1fr;grid-template-rows: repeat(3, minmax(35px, auto));margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit10-cont>.table-item:nth-child(1){grid-area: approve-number;}
.table-unit10-cont>.table-item:nth-child(2){grid-area: company-name-number;}
.table-unit10-cont>.table-item:nth-child(3){display: none;}
.table-unit10-cont>.table-item:nth-child(4){display: none;}
.table-unit10-cont>.table-item:nth-child(5){grid-area: money;}
.table-unit10-cont>.table-item:nth-child(6){display: none;}
.table-unit10-cont>.table-item:nth-child(7){grid-area: day;}
.table-unit10-cont>.table-item:nth-child(8){grid-area: ad-name-time;}
.table-unit10-cont>.table-item:nth-child(9){display: none;}

/* ---- table-unit11 ---- */
.table-unit11-cont{
	grid-template-areas:
		"id-name day-time"
		"matching matching"
		"detail detail";
	grid-template-columns: 1fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit11-cont>.table-item:nth-child(1){display: none;}
.table-unit11-cont>.table-item:nth-child(2){grid-area: id-name;}
.table-unit11-cont>.table-item:nth-child(3){grid-area: matching;}
.table-unit11-cont>.table-item:nth-child(4){grid-area: detail;}
.table-unit11-cont>.table-item:nth-child(5){grid-area: day-time;}


/* ---- table-unit12 ---- */
.table-unit12-cont{
	grid-template-areas:
		"ad-number advertiser state"
		"ad-img ad-name ad-member"
		"ad-img ad-name km"
		"ad-term ad-term ad-term";
	grid-template-columns: 0.7fr 1.3fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit12-cont>.table-item:nth-child(1){grid-area: ad-number;}
.table-unit12-cont>.table-item:nth-child(2){grid-area: ad-img;}
.table-unit12-cont>.table-item:nth-child(3){grid-area: advertiser;}
.table-unit12-cont>.table-item:nth-child(4){grid-area: ad-name;}
.table-unit12-cont>.table-item:nth-child(5){grid-area: ad-term;}
.table-unit12-cont>.table-item:nth-child(6){grid-area: ad-member;}
.table-unit12-cont>.table-item:nth-child(7){grid-area: km;}
.table-unit12-cont>.table-item:nth-child(8){grid-area: state;}


/* ---- table-unit13 ---- */
.table-unit13-cont{
	grid-template-areas:
		"id-name km"
		"carnumber-type area"
		"phone term"
		"location location";
	grid-template-columns: 1fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit13-cont>.table-item:nth-child(1){grid-area: id-name;}
.table-unit13-cont>.table-item:nth-child(2){grid-area: carnumber-type;}
.table-unit13-cont>.table-item:nth-child(3){display: none;}
.table-unit13-cont>.table-item:nth-child(4){grid-area: phone;}
.table-unit13-cont>.table-item:nth-child(5){grid-area: area;}
.table-unit13-cont>.table-item:nth-child(6){grid-area: term;}
.table-unit13-cont>.table-item:nth-child(7){grid-area: km;}
.table-unit13-cont>.table-item:nth-child(8){grid-area: location;}

/* ---- table-unit14 ---- */
.table-unit14-cont{
	grid-template-areas:
		"check title views"
		"check detail file-icon"
		"check day-time .";
	grid-template-columns: 1fr 2fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit14-cont>.table-item:nth-child(1){grid-area: check;}
.table-unit14-cont>.table-item:nth-child(2){display: none;}
.table-unit14-cont>.table-item:nth-child(3){grid-area: title;font-weight: 500;}
.table-unit14-cont>.table-item:nth-child(4){grid-area: detail;}
.table-unit14-cont>.table-item:nth-child(5){grid-area: file-icon;}
.table-unit14-cont>.table-item:nth-child(6){grid-area: views;}
.table-unit14-cont>.table-item:nth-child(7){grid-area: day-time;}

.table-unit14-cont>.table-item::before{display: none;}
.table-unit14-cont>.table-item{padding-left: 0;}


/* ---- table-unit15 ---- */
.table-unit15-cont{
	grid-template-areas:
		"check title answer"
		"check detail detail"
		"check id-day id-day";
	grid-template-columns: 50px 1fr 50px;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit15-cont>.table-item:nth-child(1){grid-area: check;}
.table-unit15-cont>.table-item:nth-child(2){display: none;}
.table-unit15-cont>.table-item:nth-child(3){grid-area: title;font-weight: 500;}
.table-unit15-cont>.table-item:nth-child(4){grid-area: detail;}
.table-unit15-cont>.table-item:nth-child(5){grid-area: id-day;}
.table-unit15-cont>.table-item:nth-child(6){grid-area: answer;text-align: right;}
.table-unit15-cont>.table-item:nth-child(7){display: none;}

.table-unit15-cont>.table-item::before{display: none;}
.table-unit15-cont>.table-item{padding-left: 0;}

/* ---- table-unit16 ---- */
.table-unit16-cont{
	grid-template-areas:
		"check number-title y-n"
		"check img day";
	grid-template-columns: 50px 1fr 0.5fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit16-cont>.table-item:nth-child(1){grid-area: check;}
.table-unit16-cont>.table-item:nth-child(2){grid-area: number-title;font-weight: 500;}
.table-unit16-cont>.table-item:nth-child(3){grid-area: img;}
.table-unit16-cont>.table-item:nth-child(4){display: none;}
.table-unit16-cont>.table-item:nth-child(5){grid-area: y-n;text-align: right;}
.table-unit16-cont>.table-item:nth-child(6){grid-area: day;text-align: right;}

.table-unit16-cont>.table-item::before{display: none;}
.table-unit16-cont>.table-item{padding-left: 0;}

/* ---- table-unit17 ---- */
.table-unit17-cont{
	grid-template-areas:
		"id day-time"
		"ip ip"
		"detail page-info";
	grid-template-columns: 1.5fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit17-cont>.table-item:nth-child(1){display: none;}
.table-unit17-cont>.table-item:nth-child(2){grid-area: id;}
.table-unit17-cont>.table-item:nth-child(3){grid-area: ip;}
.table-unit17-cont>.table-item:nth-child(4){grid-area: detail;}
.table-unit17-cont>.table-item:nth-child(5){grid-area: page-info;text-align: right;}
.table-unit17-cont>.table-item:nth-child(6){grid-area: day-time;text-align: right;}

.table-unit17-cont>.table-item::before{display: none;}
.table-unit17-cont>.table-item{padding-left: 0;}

/* ---- table-unit18 ---- */
.table-unit18-cont{
	grid-template-areas:
		"check id-name power"
		"check phone day"
		"check depart depart";
	grid-template-columns: 50px 1fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.table-unit18-cont>.table-item:nth-child(1){grid-area: check;text-align: center;}
.table-unit18-cont>.table-item:nth-child(2){grid-area: id-name;}
.table-unit18-cont>.table-item:nth-child(3){display: none;}
.table-unit18-cont>.table-item:nth-child(4){grid-area: phone;}
.table-unit18-cont>.table-item:nth-child(5){grid-area: depart;}
.table-unit18-cont>.table-item:nth-child(6){grid-area: power;text-align: right;}
.table-unit18-cont>.table-item:nth-child(7){grid-area: day;text-align: right;}

.table-unit18-cont>.table-item::before{display: none;}
.table-unit18-cont>.table-item{padding-left: 0;}


/* =============== ####popup-table-unit ======================== */

/* ---- popup-table-unit01 ---- */
.popup-table-unit01-cont{
	grid-template-areas:
		"ad-number advertiser state"
		"ad-number ad-name ad-name"
		"ad-number ad-term ad-term";
	grid-template-columns: 1fr 3fr 1fr;grid-template-rows: repeat(3, minmax(30px, auto));margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.popup-table-unit01-cont>.table-item:nth-child(1){grid-area: ad-number;}
.popup-table-unit01-cont>.table-item:nth-child(2){grid-area: advertiser;}
.popup-table-unit01-cont>.table-item:nth-child(3){grid-area: ad-name;}
.popup-table-unit01-cont>.table-item:nth-child(4){grid-area: ad-term;}
.popup-table-unit01-cont>.table-item:nth-child(5){grid-area: state;}

.popup-table-unit01-cont>.table-item:nth-child(1)::before{display: none;}
.popup-table-unit01-cont>.table-item:nth-child(1){padding-left: 0;}

/* ---- popup-table-unit02 ---- */
.popup-table-unit02-cont{
	grid-template-areas:
		"ad-number ad-name state"
		"ad-number ad-term ad-term";
	grid-template-columns: 1fr 3fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.popup-table-unit02-cont>.table-item:nth-child(1){grid-area: ad-number;}
.popup-table-unit02-cont>.table-item:nth-child(2){grid-area: ad-name;}
.popup-table-unit02-cont>.table-item:nth-child(3){grid-area: ad-term;}
.popup-table-unit02-cont>.table-item:nth-child(4){grid-area: state;}

.popup-table-unit02-cont>.table-item:nth-child(1)::before{display: none;}
.popup-table-unit02-cont>.table-item:nth-child(1){padding-left: 0;}

/* ---- popup-table-unit03 ---- */
.popup-table-unit03-cont{
	grid-template-areas:
		"id-name day"
		"company phone";
	grid-template-columns: 1fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.popup-table-unit03-cont>.table-item:nth-child(1){grid-area: id-name;}
.popup-table-unit03-cont>.table-item:nth-child(2){display: none;}
.popup-table-unit03-cont>.table-item:nth-child(3){grid-area: company;}
.popup-table-unit03-cont>.table-item:nth-child(4){grid-area: phone;}
.popup-table-unit03-cont>.table-item:nth-child(5){grid-area: day;}

/* ---- popup-table-unit04 ---- */
.popup-table-unit04-cont{
	grid-template-areas:
		"ad-number ad-name day"
		"ad-number id-name type-weight"
		"ad-number picture picture";
	grid-template-columns: 1fr 3fr 2fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.popup-table-unit04-cont>.table-item:nth-child(1){grid-area: ad-number;}
.popup-table-unit04-cont>.table-item:nth-child(2){grid-area: ad-name;}
.popup-table-unit04-cont>.table-item:nth-child(3){grid-area: id-name;}
.popup-table-unit04-cont>.table-item:nth-child(4){grid-area: type-weight;}
.popup-table-unit04-cont>.table-item:nth-child(5){grid-area: picture;}
.popup-table-unit04-cont>.table-item:nth-child(6){grid-area: day;}

.popup-table-unit04-cont>.table-item:nth-child(1)::before, .popup-table-unit04-cont>.table-item:nth-child(5)::before{display: none;}
.popup-table-unit04-cont>.table-item:nth-child(1), .popup-table-unit04-cont>.table-item:nth-child(5){padding-left: 0;}

/* ---- popup-table-unit05 ---- */
.popup-table-unit05-cont{
	grid-template-areas:
		"number ."
		"ad-term ad-term"
		"picture picture"
		"button button";
	grid-template-columns: 1fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.popup-table-unit05-cont>.table-item:nth-child(1){grid-area: number;}
.popup-table-unit05-cont>.table-item:nth-child(2){grid-area: picture;}
.popup-table-unit05-cont>.table-item:nth-child(3){display: none;}
.popup-table-unit05-cont>.table-item:nth-child(4){grid-area: ad-term;}
.popup-table-unit05-cont>.table-item:nth-child(5){grid-area: button;}

.popup-table-unit05-cont>.table-item::before{display: none;}
.popup-table-unit05-cont>.table-item{padding-left: 0;}

/* ---- popup-table-unit06 ---- */
.popup-table-unit06-cont{
	grid-template-areas:
		"number day"
		"ad-term ad-term"
		"money1 state"
		"money2 money2"
		"button button";
	grid-template-columns: 1fr 1fr;margin-bottom: 5px;border: 1px solid #E2E2E2;
}
.popup-table-unit06-cont>.table-item:nth-child(1){grid-area: number;}
.popup-table-unit06-cont>.table-item:nth-child(2){grid-area: money1;}
.popup-table-unit06-cont>.table-item:nth-child(3){grid-area: money2;}
.popup-table-unit06-cont>.table-item:nth-child(4){grid-area: day;}
.popup-table-unit06-cont>.table-item:nth-child(5){grid-area: state;}
.popup-table-unit06-cont>.table-item:nth-child(6){grid-area: ad-term;}
.popup-table-unit06-cont>.table-item:nth-child(7){grid-area: button;}

.popup-table-unit06-cont>.table-item::before{display: none;}
.popup-table-unit06-cont>.table-item{padding-left: 0;}

/* =============== ####layer-unit ======================== */
[class*='layer-unit']{top:0;left:0;}
[class*='layer-unit'].active{overflow:hidden;overflow-y:scroll;height:100%;}
[class*='layer-unit'] .layer-close{top:15px;}

.layer-unit01,.layer-unit02{width:100%;height:inherit;padding:40px 16px;margin:0;}
.layer-unit01 .title-box {margin: 0 0 27px;}


}
