<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>디펍 주식회사</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet preload" as="style" type="text/css" href="SpoqaHanSansNeo/v01/font.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/contents.css">
        <link rel="stylesheet" href="css/contents_m.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        <script src="js/jquery-3.6.3.min.js"></script>
        <script src="js/layout.js"></script>
        <meta property="og:url" content="index.html">
        <meta property="og:title" content="디펍 주식회사">
        <meta property="og:description" content="광고 플랫폼 / SI개발 / 기업 컨설팅 / 수출입·유통">
        <meta property="og:type" content="website">
        <meta property="og:image" content="images/og_dpub.jpg">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="320">
        <meta property="image" content="images/og_dpub.jpg">
    </head>
    <body>
        <!--상단메뉴-->
        <header>
            <div class="header">
                <div class="inner header-box">
                    <div class="logo">
                        <a href="index.html"><strong class="ir-txt">디펍 주식회사 로고</strong></a>
                    </div>
                    <button type="button" class="mobile-btn">
                        <a class="ico ico-mobilebtn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </button>
                    <div class="nav">
                        <ul class="nav-menu">
                            <li>
                                <a href="sub01.html">디펍소개</a>
                            </li>
                            <li>
                                <a href="sub02.html">광고종류</a>
                            </li>
                            <li>
                                <a href="sub03.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mobile-menu">
                <ul>
                    <li><a href="sub01.html">디펍소개</a></li>
                    <li><a href="sub02.html">광고종류</a></li>
                    <li><a href="sub03.html">문의하기</a></li>
                </ul>
            </div>
        </header>

        <!--메인 슬라이드-->
        <div class="main-visual">
            <div class="slideshow-container inner">
                <div class="mySlides fade">
                    <img src="images/main-bg01.jpg">
                    <div class="text">
                        <p class="caption-tit">'디펍'만의 움직이는 화물차 광고</p>
                        <p>화물차의 양·옆·뒷면에 광고를 부착하여 광고주에게는 저렴한 비용으로 효율적인 광고효과를,</p>
                        <p>화물차주들에게는 고정 수입을 제공하여 모두가 Win.Win 할 수 있는 사업을 진행합니다.</p>

                    </div>
                    <a href="sub01.html">
                        <div class="button-box">
                            <button type="button" class="btn-confirm">
                                <span class="txt">more details</span>
                            </button>
                        </div>
                    </a>
                </div>
                <div class="mySlides fade">
                    <img src="images/main-bg02.jpg">
                    <div class="text">
                        <p class="caption-tit">왜 '디펍'일까?</p>
                        <p>수 많은 광고 매체들 중 가장 효율적인 마케팅이 무엇인지 고민해온 디펍은</p>
                        <p>축적된 노하우와 일원화된 시스템을 바탕으로 가장 합리적인 광고 솔루션을 고객사에게 제공합니다.</p>
                    </div>
                    <a href="sub01.html">
                        <div class="button-box">
                            <button type="button" class="btn-confirm">
                                <span class="txt">more details</span>
                            </button>
                        </div>
                    </a>
                </div>
                <div class="mySlides fade">
                    <img src="images/main-bg03.jpg">
                    <div class="text">
                        <p class="caption-tit">화물차 광고가 필요한 이유</p>
                        <p>화물차량을 이용한 광고는 제품홍보, 기업홍보 등 이벤트에 활용이 가능한 유동성 옥외광고 입니다.</p>
                        <p>타 광고와 비교하여 효율적이며, 지속적으로 노출 할 수 있어 광고효과를 극대화 할 수 있습니다.</p>
                    </div>
                    <a href="sub01.html">
                        <div class="button-box">
                            <button type="button" class="btn-confirm">
                                <span class="txt">more details</span>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <div class="dot-box">
                <span class="pre"></span><!--화살표 이전-->
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="next"></span><!--화살표 다음-->
            </div>
        </div>

        <!--문의하기-->
        <div class="main-content inner">
            <div class="main-cont01">
                <h1>고객센터</h1>
                <div class="cs">
                    <p>대표 콜센터 번호</p>
                    <p>1544-8576</p>
                    <div class="cs-day">
                        <p>평일 09:00 - 18:00 / 점심시간 12:00-13:00</p>
                        <p>주말, 공휴일 휴무</p>
                    </div>
                    <p>고객님의 소중한 문의에 감사드리며, 성심성의껏 답변해 드리겠습니다</p>
                </div>
            </div>
            <div class="main-cont01">
                <div class="title-box02">
                    <h1>문의하기</h1>
                    <ul class="tab-unit02">
                        <li data-tab="tab-1" class="current">광고주 문의</li>
                        <li data-tab="tab-2">차주 문의</li>
                    </ul>
                </div>
                <div id="tab-1" class="tab-content current">
                    <div class="form-box">
                        <div class="input-unit02">
                            <div class="input02">
                                <label for="com-name">업체명</label>
                                <input id="com-name" type="text" placeholder>
                            </div>
                        </div>
                        <div class="input-unit02">
                            <div class="input02">
                                <label for="com-email">업체 이메일</label>
                                <input id="com-email" type="text" placeholder>
                            </div>
                        </div>
                        <div class="input-unit02">
                            <div class="input02">
                                <label for="com-email">업체 연락처</label>
                                <input id="com-email" type="text" placeholder>
                            </div>
                        </div>
                        <div class="inquiry">
                            <p>문의 내용</p>
                            <textarea name="content" id="content" style="width:100%;" rows="10" th:text="${memo.content}" placeholder="내용을 입력해 주세요"></textarea>
                        </div>
                        <div class="button-box">
                            <button type="button" class="btn-confirm">
                                <span class="txt">문의하기</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-content">
                    <div class="form-box">
                        <div class="input-unit02 many">
                            <div class="input02">
                                <label for="name">성함</label>
                                <input id="name" type="text" placeholder>
                            </div>
                            <div class="input02">
                                <label for="phone">연락처</label>
                                <input id="phone" type="text" placeholder>
                            </div>
                            <div class="input02">
                                <label for="email">이메일</label>
                                <input id="email" type="text" placeholder>
                            </div>
                        </div>
                        <div class="input-unit02 many">
                            <div class="input02">
                                <label for="type01">차량 타입</label>
                                <div class="select-wrap">
                                    <select name id>
                                        <option value>윙바디</option>
                                        <option value>냉동탑</option>
                                        <option value>내장탑</option>
                                        <option value>익스탑</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input02">
                                <label for="type02">차량 톤수</label>
                                <div class="select-wrap">
                                    <select name id>
                                        <option value>1톤</option>
                                        <option value>2.5톤</option>
                                        <option value>3.5톤</option>
                                        <option value>5톤</option>
                                        <option value>11톤</option>
                                        <option value>11톤 이상</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input02">
                                <label for="type03">운행 지역</label>
                                <div class="select-wrap">
                                    <select name id>
                                        <option value>서울경기권</option>
                                        <option value>강원권</option>
                                        <option value>충청권</option>
                                        <option value>전라권</option>
                                        <option value>경상권</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="input-unit02 many">
                            <div class="input02">
                                <label for="day-start">운행 시작</label>
                                <input id="day-start" type="text" placeholder>
                            </div>
                            <div class="input02">
                                <label for="day-end">운행 마감</label>
                                <input id="day-end" type="text" placeholder>
                            </div>
                        </div>
                        <div class="inquiry">
                            <p>문의 내용</p>
                            <textarea name="content" id="content" style="width:100%;" rows="10" th:text="${memo.content}" placeholder="내용을 입력해 주세요"></textarea>
                        </div>
                        <div class="button-box">
                            <button type="button" class="btn-confirm">
                                <span class="txt">문의하기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--풋터-->
        <footer>
            <div class="foot-box inner">
                <div class="foot-cont">
                    <strong class="ir-txt">디펍 주식회사 로고</strong>
                </div>
                <div class="foot-cont">
                    <h1>Address</h1>
                    <ul>
                        <li>대표이사 홍성환</li>
                        <li>대전 서구 갈마로 4 (갈마동) 102호</li>
                        <li>사업자등록번호 : 537-88-01571</li>
                        <li>통신판매업신고 : 제2020-서울영등포-2623호</li>
                        <li>042-710-7322 / 042-367-6620</li>
                    </ul>
                </div>
                <div class="foot-cont">
                    <h1>Personal Information Policy</h1>
                    <ul>
                        <li>부서 : 개인정보보호팀</li>
                        <li>연락처 : 042-710-7322</li>
                        <li>이메일 : jindev@naver.com</li>
                        <li><a href="privacy.html">개인정보처리방침</a></li>
                    </ul>
                </div>
            </div>
            <address>Copyrightⓒdpub.All rights reserved.</address>
        </footer>
    </body>
</html>
