<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>디펍 주식회사</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet preload" as="style" type="text/css" href="SpoqaHanSansNeo/v01/font.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/contents.css">
        <link rel="stylesheet" href="css/contents_m.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        <script src="js/jquery-3.6.3.min.js"></script>
        <script src="js/layout.js"></script>
        <meta property="og:url" content="sub03.html">
        <meta property="og:title" content="디펍 주식회사">
        <meta property="og:description" content="광고 플랫폼 / SI개발 / 기업 컨설팅 / 수출입·유통">
        <meta property="og:type" content="website">
        <meta property="og:image" content="images/og_img.jpg">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="320">
        <meta property="image" content="images/og_img.jpg">
    </head>
    <body>
        <!--상단메뉴-->
        <header>
            <div class="header">
                <div class="inner header-box">
                    <div class="logo">
                        <a href="index.html"><strong class="ir-txt">디펍 주식회사 로고</strong></a>
                    </div>
                    <button type="button" class="mobile-btn">
                        <a class="ico ico-mobilebtn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </button>
                    <div class="nav">
                        <ul class="nav-menu">
                            <li>
                                <a href="sub01.html">디펍소개</a>
                            </li>
                            <li>
                                <a href="sub02.html">광고종류</a>
                            </li>
                            <li>
                                <a href="sub03.html">문의하기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mobile-menu">
                <ul>
                    <li><a href="sub01.html">디펍소개</a></li>
                    <li><a href="sub02.html">광고종류</a></li>
                    <li><a href="sub03.html">문의하기</a></li>
                </ul>
            </div>
        </header>

        <!--서브 비주얼-->
        <div class="sub-visual">
            <div class="sub-tit inner">
                <p>문의하기</p>
            </div>
        </div>

        <!--문의하기-->
        <div class="inner">
            <div class="contents">
                <ul class="tab-unit03">
                    <li data-tab="tab-1" class="current">광고주 문의</li>
                    <li data-tab="tab-2">차주 문의</li>
                </ul>

                <div id="tab-1" class="tab-content current">
                    <div class="form-box">
                        <div class="input-unit02">
                            <div class="input02">
                                <label for="com-name">업체명</label>
                                <input id="com-name" type="text" placeholder>
                            </div>
                        </div>
                        <div class="input-unit02">
                            <div class="input02">
                                <label for="com-email">업체 이메일</label>
                                <input id="com-email" type="text" placeholder>
                            </div>
                        </div>
                        <div class="input-unit02">
                            <div class="input02">
                                <label for="com-email">업체 연락처</label>
                                <input id="com-email" type="text" placeholder>
                            </div>
                        </div>
                        <div class="inquiry">
                            <p>문의 내용</p>
                            <textarea name="content" id="content" style="width:100%;" rows="10" th:text="${memo.content}" placeholder="내용을 입력해 주세요"></textarea>
                        </div>
                        <div class="button-box">
                            <button type="button" class="btn-confirm">
                                <span class="txt">문의하기</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="tab-2" class="tab-content">
                    <div class="form-box">
                        <div class="input-unit02 many">
                            <div class="input02">
                                <label for="name">성함</label>
                                <input id="name" type="text" placeholder>
                            </div>
                            <div class="input02">
                                <label for="phone">연락처</label>
                                <input id="phone" type="text" placeholder>
                            </div>
                            <div class="input02">
                                <label for="email">이메일</label>
                                <input id="email" type="text" placeholder>
                            </div>
                        </div>
                        <div class="input-unit02 many">
                            <div class="input02">
                                <label for="type01">차량 타입</label>
                                <div class="select-wrap">
                                    <select name id>
                                        <option value>윙바디</option>
                                        <option value>냉동탑</option>
                                        <option value>내장탑</option>
                                        <option value>익스탑</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input02">
                                <label for="type02">차량 톤수</label>
                                <div class="select-wrap">
                                    <select name id>
                                        <option value>1톤</option>
                                        <option value>2.5톤</option>
                                        <option value>3.5톤</option>
                                        <option value>5톤</option>
                                        <option value>11톤</option>
                                        <option value>11톤 이상</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input02">
                                <label for="type03">운행 지역</label>
                                <div class="select-wrap">
                                    <select name id>
                                        <option value>서울경기권</option>
                                        <option value>강원권</option>
                                        <option value>충청권</option>
                                        <option value>전라권</option>
                                        <option value>경상권</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="input-unit02 many">
                            <div class="input02">
                                <label for="day-start">운행 시작</label>
                                <input id="day-start" type="text" placeholder>
                            </div>
                            <div class="input02">
                                <label for="day-end">운행 마감</label>
                                <input id="day-end" type="text" placeholder>
                            </div>
                        </div>
                        <div class="inquiry">
                            <p>문의 내용</p>
                            <textarea name="content" id="content" style="width:100%;" rows="10" th:text="${memo.content}" placeholder="내용을 입력해 주세요"></textarea>
                        </div>
                        <div class="button-box">
                            <button type="button" class="btn-confirm">
                                <span class="txt">문의하기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--풋터-->
        <footer>
            <div class="foot-box inner">
                <div class="foot-cont">
                    <img src="images/logo02.png" alt="디펍주식회사 로고">
                </div>
                <div class="foot-cont">
                    <h1>Address</h1>
                    <ul>
                        <li>대표이사 홍성환</li>
                        <li>대전 서구 갈마로 4 (갈마동) 102호</li>
                        <li>사업자등록번호 : 537-88-01571</li>
                        <li>통신판매업신고 : 제2020-서울영등포-2623호</li>
                        <li>042-710-7322 / 042-367-6620</li>
                    </ul>
                </div>
                <div class="foot-cont">
                    <h1>Personal Information Policy</h1>
                    <ul>
                        <li>부서 : 개인정보보호팀</li>
                        <li>연락처 : 042-710-7322</li>
                        <li>이메일 : jindev@naver.com</li>
                        <li><a href="privacy.html">개인정보처리방침</a></li>
                    </ul>
                </div>
            </div>
            <address>Copyrightⓒdpub.All rights reserved.</address>
        </footer>
    </body>
</html>